<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.BusinessMapper">

	<resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.TaskType">
		<id column="TASK_TYPE_ID" property="taskTypeId" jdbcType="VARCHAR" />
		<result column="TASK_TYPE_NAME" property="taskTypeName" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		TASK_TYPE_ID, 
		TASK_TYPE_NAME,
		CREATE_TIME
	</sql>
	
	<insert id="insert" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskType">
		replace into OC_TASK_TYPE (TASK_TYPE_ID, TASK_TYPE_NAME,CREATE_TIME)
		values (#{taskTypeId,jdbcType=VARCHAR}, #{taskTypeName,jdbcType=VARCHAR}, now())
	</insert>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from OC_TASK_TYPE
		where TASK_TYPE_ID = #{taskTypeId,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		OC_TASK_TYPE
		where TASK_TYPE_ID = #{taskTypeId,jdbcType=VARCHAR}
	</delete>
	
	<!-- 分页查询 -->

	<sql id="Sql_From">
		from OC_TASK_TYPE a
	</sql>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.TaskTypeCriteria">
		select
		<include refid="Base_Column_List" />
		<include refid="Sql_From"></include>
		order by a.TASK_TYPE_ID desc
		<if test="begin != null and showLines != null and showLines != 0">
			limit #{begin},#{showLines}
		</if>
	</select>
	
	<select id="selectBySearchCount" resultType="int" parameterType="cn.cucsi.bsd.ucc.common.beans.TaskTypeCriteria">
		select
		count(*)
		<include refid="Sql_From"></include>
	</select>

	
	<delete id="deleteByGroup" parameterType="map">
		delete from
		OC_TASK_TYPE
		where TASK_TYPE_ID in
		<foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
			#{item}
		</foreach>
	</delete>
	

</mapper>