<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.CommonMapper">
	<cache/>
	<resultMap id="BaseResultMap" type="java.util.HashMap">
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="SystemConfigResult" type="cn.cucsi.bsd.ucc.data.domain.SystemConfig">
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="SystemConfigMap" type="java.util.HashMap">
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		name, ip
	</sql>
	<sql id="system_config_Column_List">
		name, value
	</sql>
	<select id="selectccClientsAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cc_clients
	</select>
	
	<select id="selectccServersAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cc_servers
	</select>
	
	<insert id="insertccClients" parameterType="java.util.HashMap">
		insert into cc_clients(name, ip) 
		values
		(#{name,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertccServers" parameterType="java.util.HashMap">
		insert into cc_servers(name, ip) 
		values
		(#{name,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR})
	</insert>
	
	<delete id="deleteccClients" parameterType="java.lang.String">
		delete from cc_clients where ip = #{ip,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteccServers" parameterType="java.lang.String">
		delete from cc_servers where ip = #{ip,jdbcType=VARCHAR}
	</delete>
	
	<delete id="deleteAllccClients">
		delete from cc_clients
	</delete>
	
	<delete id="deleteAllccServers">
		delete from cc_servers
	</delete>
	
	<select id="selectSystemConfigAll" resultMap="SystemConfigMap">
		select
		<include refid="system_config_Column_List" />
		from system_config
	</select>
	
	<select id="selectSystemConfigByName" resultMap="SystemConfigResult" parameterType="java.lang.String">
		select
		<include refid="system_config_Column_List" />
		from system_config where name=#{name,jdbcType=VARCHAR}
	</select>
	
	<insert id="insertSystemConfig" parameterType="cn.cucsi.bsd.ucc.data.domain.SystemConfig">
		insert into system_config(name, value) 
		values
		(#{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
	</insert>
	
	<insert id="updateSystemConfig" parameterType="cn.cucsi.bsd.ucc.data.domain.SystemConfig">
		update system_config set value=#{value,jdbcType=VARCHAR}
		where name=#{name,jdbcType=VARCHAR}
	</insert>

</mapper>