<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.DataCustomfieldMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.DataCustomfield" >
    <id column="DATA_CUSTOMFIELDS_ID" property="dataCustomfieldsId" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS_CODE" property="customfieldsCode" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS_NAME" property="customfieldsName" jdbcType="VARCHAR" />
    <result column="IS_DEFAULT" property="isDefault" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DATA_CUSTOMFIELDS_ID, CUSTOMFIELDS_CODE, CUSTOMFIELDS_NAME, IS_DEFAULT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from OC_DATA_CUSTOMFIELDS
    where DATA_CUSTOMFIELDS_ID = #{dataCustomfieldsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from OC_DATA_CUSTOMFIELDS
    where DATA_CUSTOMFIELDS_ID = #{dataCustomfieldsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cucsi.bsd.ucc.data.domain.DataCustomfield" >
    <selectKey resultType="java.lang.String" keyProperty="dataCustomfieldsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into OC_DATA_CUSTOMFIELDS (CUSTOMFIELDS_CODE, CUSTOMFIELDS_NAME, 
      IS_DEFAULT)
    values (#{customfieldsCode,jdbcType=VARCHAR}, #{customfieldsName,jdbcType=VARCHAR}, 
      #{isDefault,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cucsi.bsd.ucc.data.domain.DataCustomfield" >
    <selectKey resultType="java.lang.String" keyProperty="dataCustomfieldsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into OC_DATA_CUSTOMFIELDS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customfieldsCode != null" >
        CUSTOMFIELDS_CODE,
      </if>
      <if test="customfieldsName != null" >
        CUSTOMFIELDS_NAME,
      </if>
      <if test="isDefault != null" >
        IS_DEFAULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customfieldsCode != null" >
        #{customfieldsCode,jdbcType=VARCHAR},
      </if>
      <if test="customfieldsName != null" >
        #{customfieldsName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cucsi.bsd.ucc.data.domain.DataCustomfield" >
    update OC_DATA_CUSTOMFIELDS
    <set >
      <if test="customfieldsCode != null" >
        CUSTOMFIELDS_CODE = #{customfieldsCode,jdbcType=VARCHAR},
      </if>
      <if test="customfieldsName != null" >
        CUSTOMFIELDS_NAME = #{customfieldsName,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        IS_DEFAULT = #{isDefault,jdbcType=VARCHAR},
      </if>
    </set>
    where DATA_CUSTOMFIELDS_ID = #{dataCustomfieldsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cucsi.bsd.ucc.data.domain.DataCustomfield" >
    update OC_DATA_CUSTOMFIELDS
    set CUSTOMFIELDS_CODE = #{customfieldsCode,jdbcType=VARCHAR},
      CUSTOMFIELDS_NAME = #{customfieldsName,jdbcType=VARCHAR},
      IS_DEFAULT = #{isDefault,jdbcType=VARCHAR}
    where DATA_CUSTOMFIELDS_ID = #{dataCustomfieldsId,jdbcType=VARCHAR}
  </update>
  
  
  <!-- Add by bli  begin -->
	<!-- 根据主键查询自定义显示字段列表 -->
	<select id="selectByIDs" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		 <include refid="Base_Column_List" />
		 from OC_DATA_CUSTOMFIELDS a 
		 where a.DATA_CUSTOMFIELDS_ID in ( ${dataCustomfieldsIds} );  
	</select>
	
	<!-- 条件查询  -->
	<select id="selectBySeachMap" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		 <include refid="Base_Column_List" />
		 from OC_DATA_CUSTOMFIELDS a where 1=1
		<if test="dataCustomfieldsIds != null and dataCustomfieldsIds != ''">
			and a.DATA_CUSTOMFIELDS_ID in ( ${dataCustomfieldsIds} )
		</if>
		<if test="dataCustomfieldsIds == null or dataCustomfieldsIds == ''">
			and a.IS_DEFAULT = #{isDefault,jdbcType=VARCHAR}
		</if>
		order by a.CUSTOMFIELDS_CODE
	</select>
	
	<select id="selectAll" resultMap="BaseResultMap">
		select 
		 <include refid="Base_Column_List" />
		 from OC_DATA_CUSTOMFIELDS a 
		order by a.CUSTOMFIELDS_CODE
	</select>
	
  <!-- Add by bli  end -->
  
   <!-- Add by chenwenqi  begin -->
	<!-- 根据主键查询自定义显示字段列表 -->
	<select id="selectByIDsExport" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		 <include refid="Base_Column_List" />
		 from OC_DATA_CUSTOMFIELDS_EXPORT a 
		 where a.DATA_CUSTOMFIELDS_ID in ( ${dataCustomfieldsIds} );  
	</select>
	
	<!-- 条件查询  -->
	<select id="selectBySeachMapExport" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		 <include refid="Base_Column_List" />
		 from OC_DATA_CUSTOMFIELDS_EXPORT a where 1=1
		<if test="dataCustomfieldsIds != null and dataCustomfieldsIds != ''">
			and a.DATA_CUSTOMFIELDS_ID in ( ${dataCustomfieldsIds} )
		</if>
		<if test="dataCustomfieldsIds == null or dataCustomfieldsIds == ''">
			and a.IS_DEFAULT = #{isDefault,jdbcType=VARCHAR}
		</if>
		order by a.CUSTOMFIELDS_CODE
	</select>
	
	<select id="selectAllExport" resultMap="BaseResultMap">
		select 
		 <include refid="Base_Column_List" />
		 from OC_DATA_CUSTOMFIELDS_EXPORT a 
		order by a.CUSTOMFIELDS_CODE
	</select>
	
  <!-- Add by chenwenqi  end -->
  
</mapper>