<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.DataImportMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.DataImport" >
    <id column="DATA_IMPORT_ID" property="dataImportId" jdbcType="VARCHAR" />
    <result column="IMPORT_BATCH" property="importBatch" jdbcType="VARCHAR" />
    <result column="IMPORT_PERSON_ID" property="importPersonId" jdbcType="VARCHAR" />
    <result column="IMPORT_TIME" property="importTime" jdbcType="TIMESTAMP" />
    <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
    <result column="TASK_TYPE_NAME" property="taskTypeName" jdbcType="VARCHAR" />
    <result column="DEPT_MESH_NAME" property="deptMeshName" jdbcType="VARCHAR" />
    <result column="DEPT_AREA_NAME" property="deptAreaName" jdbcType="VARCHAR" />
    <result column="DEPT_AGENCY_NAME" property="deptAgencyName" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR" />
    <result column="PHONE_NUMBER3" property="phoneNumber3" jdbcType="VARCHAR" />
    <result column="VELOCITY" property="velocity" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS1" property="customfields1" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS2" property="customfields2" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS3" property="customfields3" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS4" property="customfields4" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS5" property="customfields5" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS6" property="customfields6" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS7" property="customfields7" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS8" property="customfields8" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS9" property="customfields9" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS10" property="customfields10" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS11" property="customfields11" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS12" property="customfields12" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS13" property="customfields13" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS14" property="customfields14" jdbcType="VARCHAR" />
    <result column="CUSTOMFIELDS15" property="customfields15" jdbcType="VARCHAR" />
    <result column="RESPONSIBLE" property="responsible" jdbcType="VARCHAR" />
    <result column="NET_STOP" property="netStop" jdbcType="VARCHAR" />
    <result column="PACKAGE_NAME" property="packageName" jdbcType="VARCHAR" />
    <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
    <result column="CONTRACT_START_TIME" property="contractStartTime" jdbcType="VARCHAR" />
    <result column="CONTRACT_END_TIME" property="contractEndTime" jdbcType="VARCHAR" />
    <result column="ACTIVATION_TIME" property="activationTime" jdbcType="VARCHAR" />
    <result column="DEVELOPMENT_DEPT" property="developmentDept" jdbcType="VARCHAR" />
    <result column="CONTACTS" property="contacts" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="TARIFF_NAME" property="tariffName" jdbcType="VARCHAR" />
    <result column="INSTALLED_ADDRESS" property="installedAddress" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="PON_LOGO" property="ponLogo" jdbcType="VARCHAR" />
    <result column="PHONE_NUMBER2" property="phoneNumber2" jdbcType="VARCHAR" />
    <result column="PHONE_NUMBER1" property="phoneNumber1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DATA_IMPORT_ID, IMPORT_BATCH, IMPORT_PERSON_ID, IMPORT_TIME, BUSINESS_CODE, TASK_TYPE_NAME, 
    DEPT_MESH_NAME, DEPT_AREA_NAME, DEPT_AGENCY_NAME, PRODUCT_TYPE, PHONE_NUMBER3, VELOCITY, 
    CUSTOMFIELDS1, CUSTOMFIELDS2, CUSTOMFIELDS3, CUSTOMFIELDS4, CUSTOMFIELDS5, CUSTOMFIELDS6, 
    CUSTOMFIELDS7, CUSTOMFIELDS8, CUSTOMFIELDS9, CUSTOMFIELDS10, CUSTOMFIELDS11, CUSTOMFIELDS12, 
    CUSTOMFIELDS13, CUSTOMFIELDS14, CUSTOMFIELDS15, RESPONSIBLE, NET_STOP, PACKAGE_NAME, 
    CONTRACT_NAME, CONTRACT_START_TIME, CONTRACT_END_TIME, ACTIVATION_TIME, DEVELOPMENT_DEPT,
    PHONE_NUMBER2, PHONE_NUMBER1, CONTACTS, USER_NAME, TARIFF_NAME, INSTALLED_ADDRESS, STATUS, 
    PON_LOGO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from OC_DATA_IMPORT
    where DATA_IMPORT_ID = #{dataImportId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from OC_DATA_IMPORT
    where DATA_IMPORT_ID = #{dataImportId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cucsi.bsd.ucc.data.domain.DataImport" >
    insert into OC_DATA_IMPORT (DATA_IMPORT_ID,IMPORT_BATCH, IMPORT_PERSON_ID, IMPORT_TIME, 
      BUSINESS_CODE, TASK_TYPE_NAME, DEPT_MESH_NAME, 
      DEPT_AREA_NAME, DEPT_AGENCY_NAME, PRODUCT_TYPE, 
      PHONE_NUMBER3, VELOCITY, CUSTOMFIELDS1, 
      CUSTOMFIELDS2, CUSTOMFIELDS3, CUSTOMFIELDS4, 
      CUSTOMFIELDS5, CUSTOMFIELDS6, CUSTOMFIELDS7, 
      CUSTOMFIELDS8, CUSTOMFIELDS9, CUSTOMFIELDS10, 
      CUSTOMFIELDS11, CUSTOMFIELDS12, CUSTOMFIELDS13, 
      CUSTOMFIELDS14, CUSTOMFIELDS15, RESPONSIBLE, 
      NET_STOP, PACKAGE_NAME, CONTRACT_NAME, 
      CONTRACT_START_TIME, CONTRACT_END_TIME, ACTIVATION_TIME, 
      DEVELOPMENT_DEPT,
      PHONE_NUMBER2, PHONE_NUMBER1, CONTACTS, USER_NAME, TARIFF_NAME, INSTALLED_ADDRESS, STATUS, 
      PON_LOGO)
    values (#{dataImportId,jdbcType=VARCHAR}, 
      #{importBatch,jdbcType=VARCHAR}, #{importPersonId,jdbcType=VARCHAR}, #{importTime,jdbcType=TIMESTAMP}, 
      #{businessCode,jdbcType=VARCHAR}, #{taskTypeName,jdbcType=VARCHAR}, #{deptMeshName,jdbcType=VARCHAR}, 
      #{deptAreaName,jdbcType=VARCHAR}, #{deptAgencyName,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, 
      #{phoneNumber3,jdbcType=VARCHAR}, #{velocity,jdbcType=VARCHAR}, #{customfields1,jdbcType=VARCHAR}, 
      #{customfields2,jdbcType=VARCHAR}, #{customfields3,jdbcType=VARCHAR}, #{customfields4,jdbcType=VARCHAR}, 
      #{customfields5,jdbcType=VARCHAR}, #{customfields6,jdbcType=VARCHAR}, #{customfields7,jdbcType=VARCHAR}, 
      #{customfields8,jdbcType=VARCHAR}, #{customfields9,jdbcType=VARCHAR}, #{customfields10,jdbcType=VARCHAR}, 
      #{customfields11,jdbcType=VARCHAR}, #{customfields12,jdbcType=VARCHAR}, #{customfields13,jdbcType=VARCHAR}, 
      #{customfields14,jdbcType=VARCHAR}, #{customfields15,jdbcType=VARCHAR}, #{responsible,jdbcType=VARCHAR}, 
      #{netStop,jdbcType=VARCHAR}, #{packageName,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR}, 
      #{contractStartTime,jdbcType=VARCHAR}, #{contractEndTime,jdbcType=VARCHAR}, #{activationTime,jdbcType=VARCHAR}, 
      #{developmentDept,jdbcType=VARCHAR}, #{phoneNumber2,jdbcType=VARCHAR}, #{phoneNumber1,jdbcType=VARCHAR}, 
      #{contacts,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{tariffName,jdbcType=VARCHAR}, 
      #{installedAddress,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{ponLogo,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="cn.cucsi.bsd.ucc.data.domain.DataImport" >
    insert into OC_DATA_IMPORT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataImportId != null" >
        DATA_IMPORT_ID,
      </if>
      <if test="importBatch != null" >
        IMPORT_BATCH,
      </if>
      <if test="importPersonId != null" >
        IMPORT_PERSON_ID,
      </if>
      <if test="importTime != null" >
        IMPORT_TIME,
      </if>
      <if test="businessCode != null" >
        BUSINESS_CODE,
      </if>
      <if test="taskTypeName != null" >
        TASK_TYPE_NAME,
      </if>
      <if test="deptMeshName != null" >
        DEPT_MESH_NAME,
      </if>
      <if test="deptAreaName != null" >
        DEPT_AREA_NAME,
      </if>
      <if test="deptAgencyName != null" >
        DEPT_AGENCY_NAME,
      </if>
      <if test="productType != null" >
        PRODUCT_TYPE,
      </if>
      <if test="phoneNumber3 != null" >
        PHONE_NUMBER3,
      </if>
      <if test="velocity != null" >
        VELOCITY,
      </if>
      <if test="customfields1 != null" >
        CUSTOMFIELDS1,
      </if>
      <if test="customfields2 != null" >
        CUSTOMFIELDS2,
      </if>
      <if test="customfields3 != null" >
        CUSTOMFIELDS3,
      </if>
      <if test="customfields4 != null" >
        CUSTOMFIELDS4,
      </if>
      <if test="customfields5 != null" >
        CUSTOMFIELDS5,
      </if>
      <if test="customfields6 != null" >
        CUSTOMFIELDS6,
      </if>
      <if test="customfields7 != null" >
        CUSTOMFIELDS7,
      </if>
      <if test="customfields8 != null" >
        CUSTOMFIELDS8,
      </if>
      <if test="customfields9 != null" >
        CUSTOMFIELDS9,
      </if>
      <if test="customfields10 != null" >
        CUSTOMFIELDS10,
      </if>
      <if test="customfields11 != null" >
        CUSTOMFIELDS11,
      </if>
      <if test="customfields12 != null" >
        CUSTOMFIELDS12,
      </if>
      <if test="customfields13 != null" >
        CUSTOMFIELDS13,
      </if>
      <if test="customfields14 != null" >
        CUSTOMFIELDS14,
      </if>
      <if test="customfields15 != null" >
        CUSTOMFIELDS15,
      </if>
      <if test="responsible != null" >
        RESPONSIBLE,
      </if>
      <if test="netStop != null" >
        NET_STOP,
      </if>
      <if test="packageName != null" >
        PACKAGE_NAME,
      </if>
      <if test="contractName != null" >
        CONTRACT_NAME,
      </if>
      <if test="contractStartTime != null" >
        CONTRACT_START_TIME,
      </if>
      <if test="contractEndTime != null" >
        CONTRACT_END_TIME,
      </if>
      <if test="activationTime != null" >
        ACTIVATION_TIME,
      </if>
      <if test="developmentDept != null" >
        DEVELOPMENT_DEPT,
      </if>
      <if test="phoneNumber2 != null" >
        PHONE_NUMBER2,
      </if>
      <if test="phoneNumber1 != null" >
        PHONE_NUMBER1,
      </if>
      <if test="contacts != null" >
        CONTACTS,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="tariffName != null" >
        TARIFF_NAME,
      </if>
      <if test="installedAddress != null" >
        INSTALLED_ADDRESS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="ponLogo != null" >
        PON_LOGO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataImportId != null" >
        #{dataImportId,jdbcType=VARCHAR},
      </if>
      <if test="importBatch != null" >
        #{importBatch,jdbcType=VARCHAR},
      </if>
      <if test="importPersonId != null" >
        #{importPersonId,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null" >
        #{importTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeName != null" >
        #{taskTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deptMeshName != null" >
        #{deptMeshName,jdbcType=VARCHAR},
      </if>
      <if test="deptAreaName != null" >
        #{deptAreaName,jdbcType=VARCHAR},
      </if>
      <if test="deptAgencyName != null" >
        #{deptAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber3 != null" >
        #{phoneNumber3,jdbcType=VARCHAR},
      </if>
      <if test="velocity != null" >
        #{velocity,jdbcType=VARCHAR},
      </if>
      <if test="customfields1 != null" >
        #{customfields1,jdbcType=VARCHAR},
      </if>
      <if test="customfields2 != null" >
        #{customfields2,jdbcType=VARCHAR},
      </if>
      <if test="customfields3 != null" >
        #{customfields3,jdbcType=VARCHAR},
      </if>
      <if test="customfields4 != null" >
        #{customfields4,jdbcType=VARCHAR},
      </if>
      <if test="customfields5 != null" >
        #{customfields5,jdbcType=VARCHAR},
      </if>
      <if test="customfields6 != null" >
        #{customfields6,jdbcType=VARCHAR},
      </if>
      <if test="customfields7 != null" >
        #{customfields7,jdbcType=VARCHAR},
      </if>
      <if test="customfields8 != null" >
        #{customfields8,jdbcType=VARCHAR},
      </if>
      <if test="customfields9 != null" >
        #{customfields9,jdbcType=VARCHAR},
      </if>
      <if test="customfields10 != null" >
        #{customfields10,jdbcType=VARCHAR},
      </if>
      <if test="customfields11 != null" >
        #{customfields11,jdbcType=VARCHAR},
      </if>
      <if test="customfields12 != null" >
        #{customfields12,jdbcType=VARCHAR},
      </if>
      <if test="customfields13 != null" >
        #{customfields13,jdbcType=VARCHAR},
      </if>
      <if test="customfields14 != null" >
        #{customfields14,jdbcType=VARCHAR},
      </if>
      <if test="customfields15 != null" >
        #{customfields15,jdbcType=VARCHAR},
      </if>
      <if test="responsible != null" >
        #{responsible,jdbcType=VARCHAR},
      </if>
      <if test="netStop != null" >
        #{netStop,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null" >
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null" >
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="contractStartTime != null" >
        #{contractStartTime,jdbcType=VARCHAR},
      </if>
      <if test="contractEndTime != null" >
        #{contractEndTime,jdbcType=VARCHAR},
      </if>
      <if test="activationTime != null" >
        #{activationTime,jdbcType=VARCHAR},
      </if>
      <if test="developmentDept != null" >
        #{developmentDept,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber2 != null" >
        #{phoneNumber2,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber1 != null" >
        #{phoneNumber1,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="tariffName != null" >
        #{tariffName,jdbcType=VARCHAR},
      </if>
      <if test="installedAddress != null" >
        #{installedAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="ponLogo != null" >
        #{ponLogo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cucsi.bsd.ucc.data.domain.DataImport" >
    update OC_DATA_IMPORT
    <set >
      <if test="importBatch != null" >
        IMPORT_BATCH = #{importBatch,jdbcType=VARCHAR},
      </if>
      <if test="importPersonId != null" >
        IMPORT_PERSON_ID = #{importPersonId,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null" >
        IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessCode != null" >
        BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeName != null" >
        TASK_TYPE_NAME = #{taskTypeName,jdbcType=VARCHAR},
      </if>
      <if test="deptMeshName != null" >
        DEPT_MESH_NAME = #{deptMeshName,jdbcType=VARCHAR},
      </if>
      <if test="deptAreaName != null" >
        DEPT_AREA_NAME = #{deptAreaName,jdbcType=VARCHAR},
      </if>
      <if test="deptAgencyName != null" >
        DEPT_AGENCY_NAME = #{deptAgencyName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        PRODUCT_TYPE = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="velocity != null" >
        VELOCITY = #{velocity,jdbcType=VARCHAR},
      </if>
      <if test="customfields1 != null" >
        CUSTOMFIELDS1 = #{customfields1,jdbcType=VARCHAR},
      </if>
      <if test="customfields2 != null" >
        CUSTOMFIELDS2 = #{customfields2,jdbcType=VARCHAR},
      </if>
      <if test="customfields3 != null" >
        CUSTOMFIELDS3 = #{customfields3,jdbcType=VARCHAR},
      </if>
      <if test="customfields4 != null" >
        CUSTOMFIELDS4 = #{customfields4,jdbcType=VARCHAR},
      </if>
      <if test="customfields5 != null" >
        CUSTOMFIELDS5 = #{customfields5,jdbcType=VARCHAR},
      </if>
      <if test="customfields6 != null" >
        CUSTOMFIELDS6 = #{customfields6,jdbcType=VARCHAR},
      </if>
      <if test="customfields7 != null" >
        CUSTOMFIELDS7 = #{customfields7,jdbcType=VARCHAR},
      </if>
      <if test="customfields8 != null" >
        CUSTOMFIELDS8 = #{customfields8,jdbcType=VARCHAR},
      </if>
      <if test="customfields9 != null" >
        CUSTOMFIELDS9 = #{customfields9,jdbcType=VARCHAR},
      </if>
      <if test="customfields10 != null" >
        CUSTOMFIELDS10 = #{customfields10,jdbcType=VARCHAR},
      </if>
      <if test="customfields11 != null" >
        CUSTOMFIELDS11 = #{customfields11,jdbcType=VARCHAR},
      </if>
      <if test="customfields12 != null" >
        CUSTOMFIELDS12 = #{customfields12,jdbcType=VARCHAR},
      </if>
      <if test="customfields13 != null" >
        CUSTOMFIELDS13 = #{customfields13,jdbcType=VARCHAR},
      </if>
      <if test="customfields14 != null" >
        CUSTOMFIELDS14 = #{customfields14,jdbcType=VARCHAR},
      </if>
      <if test="customfields15 != null" >
        CUSTOMFIELDS15 = #{customfields15,jdbcType=VARCHAR},
      </if>
      <if test="responsible != null" >
        RESPONSIBLE = #{responsible,jdbcType=VARCHAR},
      </if>
      <if test="netStop != null" >
        NET_STOP = #{netStop,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null" >
        PACKAGE_NAME = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null" >
        CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="contractStartTime != null" >
        CONTRACT_START_TIME = #{contractStartTime,jdbcType=VARCHAR},
      </if>
      <if test="contractEndTime != null" >
        CONTRACT_END_TIME = #{contractEndTime,jdbcType=VARCHAR},
      </if>
      <if test="activationTime != null" >
        ACTIVATION_TIME = #{activationTime,jdbcType=VARCHAR},
      </if>
      <if test="developmentDept != null" >
        DEVELOPMENT_DEPT = #{developmentDept,jdbcType=VARCHAR},
      </if>
    </set>
    where DATA_IMPORT_ID = #{dataImportId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cucsi.bsd.ucc.data.domain.DataImport" >
    update OC_DATA_IMPORT
    set IMPORT_BATCH = #{importBatch,jdbcType=VARCHAR},
      IMPORT_PERSON_ID = #{importPersonId,jdbcType=VARCHAR},
      IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      TASK_TYPE_NAME = #{taskTypeName,jdbcType=VARCHAR},
      DEPT_MESH_NAME = #{deptMeshName,jdbcType=VARCHAR},
      DEPT_AREA_NAME = #{deptAreaName,jdbcType=VARCHAR},
      DEPT_AGENCY_NAME = #{deptAgencyName,jdbcType=VARCHAR},
      PRODUCT_TYPE = #{productType,jdbcType=VARCHAR},
      PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      VELOCITY = #{velocity,jdbcType=VARCHAR},
      CUSTOMFIELDS1 = #{customfields1,jdbcType=VARCHAR},
      CUSTOMFIELDS2 = #{customfields2,jdbcType=VARCHAR},
      CUSTOMFIELDS3 = #{customfields3,jdbcType=VARCHAR},
      CUSTOMFIELDS4 = #{customfields4,jdbcType=VARCHAR},
      CUSTOMFIELDS5 = #{customfields5,jdbcType=VARCHAR},
      CUSTOMFIELDS6 = #{customfields6,jdbcType=VARCHAR},
      CUSTOMFIELDS7 = #{customfields7,jdbcType=VARCHAR},
      CUSTOMFIELDS8 = #{customfields8,jdbcType=VARCHAR},
      CUSTOMFIELDS9 = #{customfields9,jdbcType=VARCHAR},
      CUSTOMFIELDS10 = #{customfields10,jdbcType=VARCHAR},
      CUSTOMFIELDS11 = #{customfields11,jdbcType=VARCHAR},
      CUSTOMFIELDS12 = #{customfields12,jdbcType=VARCHAR},
      CUSTOMFIELDS13 = #{customfields13,jdbcType=VARCHAR},
      CUSTOMFIELDS14 = #{customfields14,jdbcType=VARCHAR},
      CUSTOMFIELDS15 = #{customfields15,jdbcType=VARCHAR},
      RESPONSIBLE = #{responsible,jdbcType=VARCHAR},
      NET_STOP = #{netStop,jdbcType=VARCHAR},
      PACKAGE_NAME = #{packageName,jdbcType=VARCHAR},
      CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      CONTRACT_START_TIME = #{contractStartTime,jdbcType=VARCHAR},
      CONTRACT_END_TIME = #{contractEndTime,jdbcType=VARCHAR},
      ACTIVATION_TIME = #{activationTime,jdbcType=VARCHAR},
      DEVELOPMENT_DEPT = #{developmentDept,jdbcType=VARCHAR}
    where DATA_IMPORT_ID = #{dataImportId,jdbcType=VARCHAR}
  </update>
  
  <!-- Add by bli  begin -->
  <!-- 批量插入 -->
  <insert id="insertGroup" parameterType="map" flushCache="false">
	  insert into OC_DATA_IMPORT (DATA_IMPORT_ID,IMPORT_BATCH, IMPORT_PERSON_ID, IMPORT_TIME, 
      BUSINESS_CODE, TASK_TYPE_NAME, DEPT_MESH_NAME, 
      DEPT_AREA_NAME, DEPT_AGENCY_NAME, PRODUCT_TYPE, 
      PHONE_NUMBER3, VELOCITY, CUSTOMFIELDS1, 
      CUSTOMFIELDS2, CUSTOMFIELDS3, CUSTOMFIELDS4, 
      CUSTOMFIELDS5, CUSTOMFIELDS6, CUSTOMFIELDS7, 
      CUSTOMFIELDS8, CUSTOMFIELDS9, CUSTOMFIELDS10, 
      CUSTOMFIELDS11, CUSTOMFIELDS12, CUSTOMFIELDS13, 
      CUSTOMFIELDS14, CUSTOMFIELDS15, RESPONSIBLE, 
      NET_STOP, PACKAGE_NAME, CONTRACT_NAME, 
      CONTRACT_START_TIME, CONTRACT_END_TIME, ACTIVATION_TIME, 
      DEVELOPMENT_DEPT,
      PHONE_NUMBER2, PHONE_NUMBER1, CONTACTS, USER_NAME, TARIFF_NAME, INSTALLED_ADDRESS, STATUS, 
      PON_LOGO)
	   values 
		<foreach collection="list" item="record" index="index" separator=",">
		(#{record.dataImportId,jdbcType=VARCHAR}, #{record.importBatch,jdbcType=VARCHAR}, #{record.importPersonId,jdbcType=VARCHAR}, #{record.importTime,jdbcType=TIMESTAMP}, 
		 #{record.businessCode,jdbcType=VARCHAR}, #{record.taskTypeName,jdbcType=VARCHAR}, #{record.deptMeshName,jdbcType=VARCHAR}, 
		 #{record.deptAreaName,jdbcType=VARCHAR}, #{record.deptAgencyName,jdbcType=VARCHAR}, #{record.productType,jdbcType=VARCHAR}, 
		 #{record.phoneNumber3,jdbcType=VARCHAR}, #{record.velocity,jdbcType=VARCHAR}, #{record.customfields1,jdbcType=VARCHAR}, 
		 #{record.customfields2,jdbcType=VARCHAR}, #{record.customfields3,jdbcType=VARCHAR}, #{record.customfields4,jdbcType=VARCHAR}, 
		 #{record.customfields5,jdbcType=VARCHAR}, #{record.customfields6,jdbcType=VARCHAR}, #{record.customfields7,jdbcType=VARCHAR},
		 #{record.customfields8,jdbcType=VARCHAR}, #{record.customfields9,jdbcType=VARCHAR}, #{record.customfields10,jdbcType=VARCHAR},  
		 #{record.customfields11,jdbcType=VARCHAR}, #{record.customfields12,jdbcType=VARCHAR}, #{record.customfields13,jdbcType=VARCHAR}, 
		 #{record.customfields14,jdbcType=VARCHAR}, #{record.customfields15,jdbcType=VARCHAR}, #{record.responsible,jdbcType=VARCHAR}, 
		 #{record.netStop,jdbcType=VARCHAR}, #{record.packageName,jdbcType=VARCHAR}, #{record.contractName,jdbcType=VARCHAR}, 
		 #{record.contractStartTime,jdbcType=VARCHAR}, #{record.contractEndTime,jdbcType=VARCHAR}, #{record.activationTime,jdbcType=VARCHAR}, 
		 #{record.developmentDept,jdbcType=VARCHAR}, #{record.phoneNumber2,jdbcType=VARCHAR}, #{record.phoneNumber1,jdbcType=VARCHAR}, 
		 #{record.contacts,jdbcType=VARCHAR}, #{record.userName,jdbcType=VARCHAR}, #{record.tariffName,jdbcType=VARCHAR}, 
		 #{record.installedAddress,jdbcType=VARCHAR}, #{record.status,jdbcType=VARCHAR}, #{record.ponLogo,jdbcType=VARCHAR})
		</foreach>
	</insert>
  
	<!-- 分页查询 -->
	<sql id="Sql_Where">
		<if test="businessCode != null and businessCode != ''">
			and a.BUSINESS_CODE = #{businessCode} 
		</if>
		<if test="taskTypeName != null and taskTypeName != ''">
			and a.TASK_TYPE_NAME = #{taskTypeName} 
		</if>
		<if test="deptMeshName != null and deptMeshName != ''">
			and a.DEPT_MESH_NAME LIKE '%${deptMeshName}%'
		</if>
		<if test="deptAreaName != null and deptAreaName != ''">
			and a.DEPT_AREA_NAME LIKE  '%${deptAreaName}%'
		</if>
		<if test="developmentDept != null and developmentDept != ''">
			and a.DEVELOPMENT_DEPT LIKE '%${developmentDept}%'
		</if>
		<if test="importPersonId != null and importPersonId != ''">
			and a.IMPORT_PERSON_ID = #{importPersonId} 
		</if>
	</sql>
	
	<sql id="Sql_From">
		from OC_DATA_IMPORT a
	</sql>
	
	<!-- 数据导入列表 -->
	<select id="selectBySearch" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.DataImportCriteria">
		select
          <include refid="Base_Column_List" />
		from OC_DATA_IMPORT a
        where 1=1
          <include refid="Sql_Where" />
		order by a.IMPORT_TIME DESC
		  <if test="begin != null and showLines != null and showLines != 0">
			  limit #{begin},#{showLines}
		  </if>
	</select>
	<select id="selectBySearchCount" resultType="int" parameterType="cn.cucsi.bsd.ucc.common.beans.DataImportCriteria">
		select
		count(a.DATA_IMPORT_ID)
		<include refid="Sql_From"></include>
		where 1=1 
		<include refid="Sql_Where" />
	</select>
	<!-- 分页查询END -->
	
	<!-- 查询全部 -->
	<select id="selectAll" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List" />
		 from OC_DATA_IMPORT 
	</select>
	
	<!-- 按批次查询 -->
	<select id="selectByBarchs" resultMap="BaseResultMap" parameterType="java.util.Map" >
		select <include refid="Base_Column_List" />
		 from OC_DATA_IMPORT where OC_DATA_IMPORT.IMPORT_BATCH in ( ${importBarchs} )
	</select>
	
	<!-- 按批次删除数据 -->
	<delete id="deleteByBatch" parameterType="java.util.Map" >
        delete from OC_DATA_IMPORT
        where IMPORT_BATCH in ( ${importBarchs} )
    </delete>
    
	<!-- Add by bli  end -->
</mapper>