<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.ImportBatchMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.ImportBatch" >
    <result column="IMPORT_BATCH" property="importBatch" jdbcType="VARCHAR" />
    <result column="IMPORT_PERSON_ID" property="importPersonId" jdbcType="VARCHAR" />
    <result column="IMPORT_TIME" property="importTime" jdbcType="TIMESTAMP" />
    <result column="TASK_TYPE" property="taskType" jdbcType="VARCHAR" />
    <result column="IMPORT_PERSON_NAME" property="importPersonName" jdbcType="VARCHAR" />
    <result column="BATCH_FLAG" property="batchFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    IMPORT_BATCH, IMPORT_PERSON_ID, IMPORT_TIME, TASK_TYPE, BATCH_FLAG
  </sql>
  
  <select id="selectAllByBatchFlag" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.data.domain.ImportBatch" >
    select
      OC_IMPORT_BATCH.IMPORT_BATCH as IMPORT_BATCH,
      OC_IMPORT_BATCH.IMPORT_PERSON_ID as IMPORT_PERSON_ID,
      OC_IMPORT_BATCH.IMPORT_TIME as IMPORT_TIME,
      OC_IMPORT_BATCH.TASK_TYPE as TASK_TYPE,
      OC_IMPORT_BATCH.BATCH_FLAG as BATCH_FLAG,
      ucc_users.nick_name as IMPORT_PERSON_NAME  from OC_IMPORT_BATCH as OC_IMPORT_BATCH
      left join ucc_users as ucc_users on ucc_users.user_id = OC_IMPORT_BATCH.IMPORT_PERSON_ID
    where OC_IMPORT_BATCH.BATCH_FLAG = #{batchFlag,jdbcType=VARCHAR}
      and OC_IMPORT_BATCH.IMPORT_PERSON_ID = #{importPersonId,jdbcType=VARCHAR}
    <if test="importBatchs != null and importBatchs != ''">
		or OC_IMPORT_BATCH.IMPORT_BATCH in ( ${importBatchs} )
	</if>
    order by OC_IMPORT_BATCH.IMPORT_TIME DESC
  </select>
  
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.data.domain.ImportBatch" >
    select 
    OC_IMPORT_BATCH.IMPORT_BATCH as IMPORT_BATCH, 
    OC_IMPORT_BATCH.IMPORT_PERSON_ID as IMPORT_PERSON_ID, 
    OC_IMPORT_BATCH.IMPORT_TIME as IMPORT_TIME, 
    OC_IMPORT_BATCH.TASK_TYPE as TASK_TYPE,
    OC_IMPORT_BATCH.BATCH_FLAG as BATCH_FLAG,
    ucc_users.nick_name as IMPORT_PERSON_NAME  from OC_IMPORT_BATCH as OC_IMPORT_BATCH
    left join ucc_users as ucc_users on ucc_users.user_id = OC_IMPORT_BATCH.IMPORT_PERSON_ID
    where OC_IMPORT_BATCH.BATCH_FLAG = '0' 
    and OC_IMPORT_BATCH.IMPORT_PERSON_ID = #{importPersonId,jdbcType=VARCHAR}
    order by OC_IMPORT_BATCH.IMPORT_TIME DESC
  </select>
  
  <delete id="deleteAll" >
    delete from OC_IMPORT_BATCH
  </delete>
  
  <insert id="insert" parameterType="cn.cucsi.bsd.ucc.data.domain.ImportBatch" >
    insert into OC_IMPORT_BATCH (IMPORT_BATCH, IMPORT_PERSON_ID, IMPORT_TIME, TASK_TYPE, BATCH_FLAG 
      )
    values (#{importBatch,jdbcType=VARCHAR}, #{importPersonId,jdbcType=VARCHAR}, #{importTime,jdbcType=VARCHAR},  
    #{taskType,jdbcType=VARCHAR}, #{batchFlag,jdbcType=VARCHAR} 
      )
  </insert>
  
  <!-- 修改批次标识 -->
  <update id="updateFlagByBatch" parameterType="cn.cucsi.bsd.ucc.data.domain.DataCustomfield" >
    update OC_IMPORT_BATCH
    set BATCH_FLAG = #{batchFlag,jdbcType=VARCHAR} 
    where IMPORT_BATCH in ( ${importBarchs} )
  </update>
  
  <!-- 条件查询 -->
  <select id="selectBySearch" resultMap="BaseResultMap" parameterType="java.util.Map"  >
    select 
    OC_IMPORT_BATCH.IMPORT_BATCH as IMPORT_BATCH, 
    OC_IMPORT_BATCH.IMPORT_PERSON_ID as IMPORT_PERSON_ID, 
    OC_IMPORT_BATCH.IMPORT_TIME as IMPORT_TIME, 
    OC_IMPORT_BATCH.TASK_TYPE as TASK_TYPE,
    OC_IMPORT_BATCH.BATCH_FLAG as BATCH_FLAG,
    ucc_users.nick_name as IMPORT_PERSON_NAME
    from OC_IMPORT_BATCH as OC_IMPORT_BATCH 
    left join ucc_users as ucc_users on ucc_users.user_id = OC_IMPORT_BATCH.IMPORT_PERSON_ID
    where 1=1
    <include refid="Sql_Where" />
    order by OC_IMPORT_BATCH.IMPORT_TIME DESC
  </select>
  
  
  <sql id="Sql_Where">
	<if test="batchFlag != null and batchFlag != ''">
		and OC_IMPORT_BATCH.BATCH_FLAG = #{batchFlag}
	</if>
    <if test="recent != null and recent != ''">
      and OC_IMPORT_BATCH.IMPORT_TIME >= date_add(sysdate(), INTERVAL -${recent} DAY)
    </if>
    <if test="taskTypeName != null and taskTypeName != ''">
      and OC_IMPORT_BATCH.TASK_TYPE = #{taskTypeName}
    </if>


	</sql>
	
	<!-- 按批次删除数据 -->
	<delete id="deleteBYBatchs" parameterType="java.util.Map" >
        delete from OC_IMPORT_BATCH
        where IMPORT_BATCH in ( ${importBarchs} )
    </delete>
    
    <select id="autoSearchTaskBatch" resultType="java.lang.String" parameterType="java.util.Map"  >
    select  CONCAT(OC_IMPORT_BATCH.IMPORT_BATCH,concat(",",concat(OC_IMPORT_BATCH.IMPORT_BATCH,concat(" ",concat(OC_IMPORT_BATCH.TASK_TYPE,concat(" ",ucc_users.nick_name))))))
    from OC_IMPORT_BATCH as OC_IMPORT_BATCH 
    left join ucc_users as ucc_users on ucc_users.user_id = OC_IMPORT_BATCH.IMPORT_PERSON_ID
    where 1=1
    <if test="word != null and word != ''">
    and (OC_IMPORT_BATCH.IMPORT_BATCH like '%${word}%' or OC_IMPORT_BATCH.TASK_TYPE like '%${word}%' or ucc_users.nick_name like '%${word}%')
	</if>
	<if test="batchFlag != null and batchFlag != ''">
    and OC_IMPORT_BATCH.BATCH_FLAG = #{batchFlag}
	</if>
    <if test="userId != null and userId != ''">
    and OC_IMPORT_BATCH.IMPORT_PERSON_ID = #{userId}
    </if>
    order by OC_IMPORT_BATCH.IMPORT_TIME DESC
  </select>

  <select id="selectForTaskJob" resultType="java.lang.String">
    SELECT DISTINCT IMPORT_BATCH FROM OC_TASK_DETAIL
      union
    SELECT DISTINCT IMPORT_BATCH FROM OC_TASK_RECORD
    WHERE RECORD_TIME BETWEEN DATE_ADD(sysdate(),INTERVAL -2 DAY)
    and sysdate()
  </select>
  
</mapper>