<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.OcAcceptInfoMapper" >
    <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.OcAcceptInfo" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="caller_number" property="callerNumber" jdbcType="VARCHAR" />
        <result column="desc" property="desc" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="TASK_TYPE_ID" property="taskTypeId" jdbcType="VARCHAR" />
        <result column="TASK_TYPE_NAME" property="taskTypeName" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findAll" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.OcAcceptInfoCriteria">
        select oc.*,uu.user_name,ott.TASK_TYPE_NAME from OC_ACCEPT_INFO oc
        INNER JOIN ucc_users uu ON oc.user_id=uu.user_id
        INNER JOIN OC_TASK_TYPE ott ON oc.TASK_TYPE_ID=ott.TASK_TYPE_ID
        WHERE 1=1
        <if test="taskTypeId != null and taskTypeId!=''" >
            AND oc.TASK_TYPE_ID =#{taskTypeId,jdbcType=VARCHAR}
        </if>
        <if test="domainId != null and domainId!=''" >
            AND oc.domain_id =#{domainId,jdbcType=VARCHAR}
        </if>
        <if test="userId != null and userId!=''" >
            AND oc.user_id =#{userId,jdbcType=VARCHAR}
        </if>
    </select>
    <insert id="create" parameterType="cn.cucsi.bsd.ucc.data.domain.OcAcceptInfo">
        INSERT INTO OC_ACCEPT_INFO
        (id,user_id,caller_number,`desc`,created_time,remark,TASK_TYPE_ID,domain_id)
        VALUES (
        #{id,jdbcType=VARCHAR},
        #{userId,jdbcType=VARCHAR},
        #{callerNumber,jdbcType=VARCHAR},
        #{desc,jdbcType=VARCHAR},
        SYSDATE(),
        #{remark,jdbcType=VARCHAR},
        #{taskTypeId,jdbcType=VARCHAR},
        #{domainId,jdbcType=VARCHAR})
    </insert>

</mapper>