<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.PbxCdrsMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.PbxCdrs" >
    <id column="cdr_id" property="cdrId" jdbcType="VARCHAR" />
    <result column="aftergw" property="aftergw" jdbcType="INTEGER" />
    <result column="afterivr" property="afterivr" jdbcType="INTEGER" />
    <result column="afterqueue" property="afterqueue" jdbcType="INTEGER" />
    <result column="answered_time" property="answeredTime" jdbcType="TIMESTAMP" />
    <result column="call_time" property="callTime" jdbcType="INTEGER" />
    <result column="callee_job_number" property="calleeJobNumber" jdbcType="VARCHAR" />
    <result column="caller_id_number" property="callerIdNumber" jdbcType="VARCHAR" />
    <result column="caller_job_number" property="callerJobNumber" jdbcType="VARCHAR" /> 
    <result column="cdr" property="cdr" jdbcType="VARCHAR" />
    <result column="created_nick_name" property="createdNickName" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_user_id" property="createdUserId" jdbcType="VARCHAR" />
    <result column="created_user_name" property="createdUserName" jdbcType="VARCHAR" />
    <result column="destination_number" property="destinationNumber" jdbcType="VARCHAR" />
    <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
    <result column="first_callee" property="firstCallee" jdbcType="VARCHAR" />
    <result column="first_caller" property="firstCaller" jdbcType="VARCHAR" />
    <result column="hangup_cause" property="hangupCause" jdbcType="VARCHAR" />
    <result column="hangup_time" property="hangupTime" jdbcType="TIMESTAMP" />
    <result column="qc" property="qc" jdbcType="INTEGER" />
    <result column="queue_size" property="queueSize" jdbcType="INTEGER" />
    <result column="recordid1" property="recordid1" jdbcType="VARCHAR" />
    <result column="recordid2" property="recordid2" jdbcType="VARCHAR" />
    <result column="sip_network_ip" property="sipNetworkIp" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="total_time" property="totalTime" jdbcType="INTEGER" />
    <result column="trs_user_number" property="trsUserNumber" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="updated_nick_name" property="updatedNickName" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_user_id" property="updatedUserId" jdbcType="VARCHAR" />
    <result column="updated_user_name" property="updatedUserName" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseCountMap" type="cn.cucsi.bsd.ucc.common.beans.CountBean" >
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cdr_id, aftergw, afterivr, afterqueue, answered_time, call_time, callee_job_number, 
    caller_id_number, caller_job_number, cdr, created_nick_name, created_time, created_user_id, 
    created_user_name, destination_number, domain_id, first_callee, first_caller, hangup_cause, 
    hangup_time, qc, queue_size, recordid1, recordid2, sip_network_ip, start_time, total_time, 
    trs_user_number, type, updated_nick_name, updated_time, updated_user_id, updated_user_name, 
    cust_id
  </sql>

  <!-- 根据条件查询通话记录列表（移动端查询通话记录） add by wangxiaoyu 2018-09-04-->
  <select id="showListByTel" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.PbxCdrsForAPPCriteria">
    SELECT
      a.destination_number,
      a.total_time,
      a.call_time,
      a.start_time,
      a.answered_time,
      a.hangup_time,
      a.hangup_cause,
      c.cust_name
    FROM
	  pbx_cdrs AS a
      LEFT JOIN pbx_exts AS b ON a.domain_id = b.domain_id
      LEFT JOIN ucc_customers AS c ON a.cust_id = c.cust_id
    WHERE 1=1 AND
	  a.first_caller = #{userTel,jdbcType=VARCHAR}
    OR a.destination_number = #{userTel,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimary" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.PbxCdrsCriteria">
    SELECT
    <include refid="Base_Column_List" />
    FROM
	  pbx_cdrs 
    WHERE 1=1
    <if test="cdrId != null and cdrId != ''" >
	AND cdr_id = #{cdrId,jdbcType=VARCHAR}
    </if>
    <if test="number != null and number != ''" >
        AND first_caller LIKE '%${number}%' AND first_callee LIKE '%${number}%' 
    </if>
    <if test="aftergwId != null and aftergwId != ''" >
        AND aftergw = #{aftergwId,jdbcType=VARCHAR}
    </if>
    <if test="afterivrId != null and afterivrId != ''" >
        AND afterivr = #{afterivrId,jdbcType=VARCHAR}
    </if>
    <if test="afterqueueId != null and afterqueueId != ''" >
        AND afterqueue = #{afterqueueId,jdbcType=VARCHAR}
    </if>
    <if test="hangupCauseEn != null and hangupCauseEn != ''" >
        AND hangup_cause LIKE '%${hangupCauseEn}%'
    </if>
    <if test="isRecord1 == '1'" >
        AND (recordid1 = '' or ISNULL(recordid1))
    </if>
    <if test="isRecord1 == '2'" >
        AND (recordid1 != '' or !ISNULL(recordid1))
    </if>
    <if test="isRecord2 == '1'" >
        AND (recordid2 = '' or ISNULL(recordid2))
    </if>
    <if test="isRecord2 == '2'" >
        AND (recordid2 != '' or !ISNULL(recordid2))
    </if>
    <if test="createTimeFrom != null"  >
        AND Date(created_time) &gt;= #{createTimeFrom,jdbcType=DATE}
    </if>
    <if test="createTimeTo != null"  >
        AND Date(created_time) &lt;= #{createTimeTo,jdbcType=DATE}
    </if>
    <if test="totalTimeFrom != null"  >
        AND total_time &gt;= #{totalTimeFrom,jdbcType=INTEGER}
    </if>
    <if test="totalTimeTo != null"  >
        AND total_time &lt;= #{totalTimeTo,jdbcType=INTEGER}
    </if>
    <if test="callTimeFrom != null"  >
        AND call_time &gt;= #{callTimeFrom,jdbcType=INTEGER}
    </if>
    <if test="callTimeTo != null"  >
        AND call_time &lt;= #{callTimeTo,jdbcType=INTEGER}
    </if>
    <if test="satisfaction != null"  >
        AND qc = #{satisfaction,jdbcType=INTEGER}
    </if>
    <if test="type != null"  >
        AND type = #{type,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryExcel" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.PbxCdrsCriteria">
    SELECT
    <include refid="Base_Column_List" />
    FROM
	  pbx_cdrs 
    WHERE 1=1
    <if test="cdrId != null and cdrId != ''" >
	AND cdr_id = #{cdrId,jdbcType=VARCHAR}
    </if>
    <if test="number != null and number != ''" >
        AND first_caller LIKE '%${number}%' AND first_callee LIKE '%${number}%' 
    </if>
    <if test="aftergwId != null and aftergwId != ''" >
        AND aftergw = #{aftergwId,jdbcType=VARCHAR}
    </if>
    <if test="afterivrId != null and afterivrId != ''" >
        AND afterivr = #{afterivrId,jdbcType=VARCHAR}
    </if>
    <if test="afterqueueId != null and afterqueueId != ''" >
        AND afterqueue = #{afterqueueId,jdbcType=VARCHAR}
    </if>
    <if test="hangupCauseEn != null and hangupCauseEn != ''" >
        AND hangup_cause LIKE '%${hangupCauseEn}%'
    </if>
    <if test="isRecord1 == '1'" >
        AND (recordid1 = '' or ISNULL(recordid1))
    </if>
    <if test="isRecord1 == '2'" >
        AND (recordid1 != '' or !ISNULL(recordid1))
    </if>
    <if test="isRecord2 == '1'" >
        AND (recordid2 = '' or ISNULL(recordid2))
    </if>
    <if test="isRecord2 == '2'" >
        AND (recordid2 != '' or !ISNULL(recordid2))
    </if>
    <if test="createTimeFrom != null"  >
        AND Date(created_time) &gt;= #{createTimeFrom,jdbcType=DATE}
    </if>
    <if test="createTimeTo != null"  >
        AND Date(created_time) &lt;= #{createTimeTo,jdbcType=DATE}
    </if>
    <if test="totalTimeFrom != null"  >
        AND total_time &gt;= #{totalTimeFrom,jdbcType=INTEGER}
    </if>
    <if test="totalTimeTo != null"  >
        AND total_time &lt;= #{totalTimeTo,jdbcType=INTEGER}
    </if>
    <if test="callTimeFrom != null"  >
        AND call_time &gt;= #{callTimeFrom,jdbcType=INTEGER}
    </if>
    <if test="callTimeTo != null"  >
        AND call_time &lt;= #{callTimeTo,jdbcType=INTEGER}
    </if>
    <if test="satisfaction != null"  >
        AND qc = #{satisfaction,jdbcType=INTEGER}
    </if>
    <if test="type != null"  >
        AND type = #{type,jdbcType=INTEGER}
    </if>
  </select>
  <select id="vivCount" resultMap="BaseCountMap">
    SELECT COUNT(cdr_id) AS count
    FROM pbx_cdrs
    WHERE afterivr IS NOT NULL AND afterivr != ''
  </select>

  <select id="queueCount" resultMap="BaseCountMap">
    SELECT COUNT(cdr_id) AS count
    FROM pbx_cdrs
    WHERE afterqueue IS NOT NULL AND afterqueue != ''
  </select>

</mapper>