<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.PbxExtGroupsMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.PbxExtGroups" >
    <id column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="created_nick_name" property="createdNickName" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_user_id" property="createdUserId" jdbcType="VARCHAR" />
    <result column="created_user_name" property="createdUserName" jdbcType="VARCHAR" />
    <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
    <result column="group_desc" property="groupDesc" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="group_order" property="groupOrder" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="updated_nick_name" property="updatedNickName" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_user_id" property="updatedUserId" jdbcType="VARCHAR" />
    <result column="updated_user_name" property="updatedUserName" jdbcType="VARCHAR" />
    <collection property="extsList" ofType="cn.cucsi.bsd.ucc.data.domain.PbxExts">
      <id column="ext_id" property="extId" jdbcType="VARCHAR" />
      <result column="created_nick_name" property="createdNickName" jdbcType="VARCHAR" />
      <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
      <result column="created_user_id" property="createdUserId" jdbcType="VARCHAR" />
      <result column="created_user_name" property="createdUserName" jdbcType="VARCHAR" />
      <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
      <result column="ext_num" property="extNum" jdbcType="VARCHAR" />
      <result column="ext_pwd" property="extPwd" jdbcType="VARCHAR" />
      <result column="updated_nick_name" property="updatedNickName" jdbcType="VARCHAR" />
      <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
      <result column="updated_user_id" property="updatedUserId" jdbcType="VARCHAR" />
      <result column="updated_user_name" property="updatedUserName" jdbcType="VARCHAR" />
      <!-- 非数据库 -->
      <result column="user_name" property="username" jdbcType="VARCHAR"/>
      <result column="nick_name" property="userNickName" jdbcType="VARCHAR"/>
      <result column="group_id" property="extGroupId" jdbcType="VARCHAR"/>
      <result column="group_name" property="extGroupName" jdbcType="VARCHAR"/>

    </collection>
  </resultMap>
  <select id="queryDashboardList" resultMap="BaseResultMap" parameterType="java.lang.String">
     select b.*,c.*,d.* from  ext_group_exts as a
        LEFT JOIN pbx_ext_groups as b on b.group_id = a.group_id
        LEFT JOIN pbx_exts as c on c.ext_id =a.ext_id
        LEFT JOIN (select h.user_name,h.nick_name,g.ext_id from  user_ext as f
        LEFT JOIN ucc_users as h on h.user_id = f.user_id
        LEFT JOIN pbx_exts as g on g.ext_id = f.ext_id
        GROUP BY g.ext_id) as d on d.ext_id= c.ext_id
        where
        d.user_name is not null
        and
        b.domain_id = #{domainId}
        GROUP BY d.ext_id
        ORDER BY b.updated_time
  </select>
    <select id="AllPbxExtList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select b.*,c.* from  ext_group_exts as a
        LEFT JOIN pbx_ext_groups as b on b.group_id = a.group_id
        LEFT JOIN pbx_exts as c on c.ext_id =a.ext_id
        where
        b.domain_id = #{domainId}
        ORDER BY b.updated_time
   </select>
</mapper>