<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.TaskTransferMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.TaskTransfer" >
    <id column="TASK_TRANSFER_ID" property="taskTransferId" jdbcType="VARCHAR" />
    <result column="TASK_DETAIL_ID" property="taskDetailId" jdbcType="VARCHAR" />
    <result column="TRANSFER_STATUS" property="transferStatus" jdbcType="VARCHAR" />
    <result column="ROPERATE_PERSON_ID" property="roperatePersonId" jdbcType="VARCHAR" />
    <result column="ROPERATE_DEPT_ID" property="roperateDeptId" jdbcType="VARCHAR" />
    <result column="CALL_MEMO" property="callMemo" jdbcType="VARCHAR" />
    <result column="CALL_RESULT" property="callResult" jdbcType="VARCHAR" />
    <result column="TRANSFE_ROPERATE" property="transfeRoperate" jdbcType="VARCHAR" />
    <result column="TRANSFER_TIME" property="transferTime" jdbcType="TIMESTAMP" />
    <result column="CDR_ID" property="cdrId" jdbcType="VARCHAR" />
    <result column="BACK_MEMO" property="backMemo" jdbcType="VARCHAR" />
    <result column="OPERATOR_ID" property="operatorId" jdbcType="VARCHAR" />
    <result column="OPERATOR_DEPT" property="operatorDept" jdbcType="VARCHAR" />
    <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
    <result column="destination_number" property="destinationNumber" jdbcType="VARCHAR" />
    <result column="call_time" property="callTime" jdbcType="INTEGER" />
    <result column="TASK_CODE" property="taskCode" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="total_time" property="totalTime" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="answered_time" property="answeredTime" jdbcType="TIMESTAMP" />
    <result column="hangup_time" property="hangupTime" jdbcType="TIMESTAMP" />
    <result column="recordid1" property="recordid1" jdbcType="VARCHAR" />
    <result column="recordid2" property="recordid2" jdbcType="VARCHAR" />
    <result column="qc" property="qc" jdbcType="INTEGER" />
    <result column="hangup_cause" property="hangupCause" jdbcType="VARCHAR" />
    <result column="RECEIVE_DEPT_NAME" property="receiveDeptName" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    TASK_TRANSFER_ID, TASK_DETAIL_ID, TRANSFER_STATUS, ROPERATE_PERSON_ID, ROPERATE_DEPT_ID, 
    CALL_MEMO, CALL_RESULT, TRANSFE_ROPERATE, TRANSFER_TIME, CDR_ID, BACK_MEMO, OPERATOR_ID, 
    OPERATOR_DEPT,domain_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from OC_TASK_TRANSFER
    where TASK_TRANSFER_ID = #{taskTransferId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from OC_TASK_TRANSFER
    where TASK_TRANSFER_ID = #{taskTransferId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskTransfer" >
    insert into OC_TASK_TRANSFER (TASK_TRANSFER_ID, TASK_DETAIL_ID, TRANSFER_STATUS, 
      ROPERATE_PERSON_ID, ROPERATE_DEPT_ID, CALL_MEMO, 
      CALL_RESULT, TRANSFE_ROPERATE, TRANSFER_TIME, 
      CDR_ID, BACK_MEMO, OPERATOR_ID, 
      OPERATOR_DEPT,domain_id)
    values (#{taskTransferId,jdbcType=VARCHAR}, #{taskDetailId,jdbcType=VARCHAR}, #{transferStatus,jdbcType=VARCHAR}, 
      #{roperatePersonId,jdbcType=VARCHAR}, #{roperateDeptId,jdbcType=VARCHAR}, #{callMemo,jdbcType=VARCHAR}, 
      #{callResult,jdbcType=VARCHAR}, #{transfeRoperate,jdbcType=VARCHAR}, #{transferTime,jdbcType=TIMESTAMP}, 
      #{cdrId,jdbcType=VARCHAR}, #{backMemo,jdbcType=VARCHAR}, #{operatorId,jdbcType=VARCHAR}, 
      #{operatorDept,jdbcType=VARCHAR},#{domainId,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskTransfer" >
    insert into OC_TASK_TRANSFER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskTransferId != null" >
        TASK_TRANSFER_ID,
      </if>
      <if test="taskDetailId != null" >
        TASK_DETAIL_ID,
      </if>
      <if test="transferStatus != null" >
        TRANSFER_STATUS,
      </if>
      <if test="roperatePersonId != null" >
        ROPERATE_PERSON_ID,
      </if>
      <if test="roperateDeptId != null" >
        ROPERATE_DEPT_ID,
      </if>
      <if test="callMemo != null" >
        CALL_MEMO,
      </if>
      <if test="callResult != null" >
        CALL_RESULT,
      </if>
      <if test="transfeRoperate != null" >
        TRANSFE_ROPERATE,
      </if>
      <if test="transferTime != null" >
        TRANSFER_TIME,
      </if>
      <if test="cdrId != null" >
        CDR_ID,
      </if>
      <if test="backMemo != null" >
        BACK_MEMO,
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID,
      </if>
      <if test="operatorDept != null" >
        OPERATOR_DEPT,
      </if>
      <if test="domainId != null" >
        domain_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskTransferId != null" >
        #{taskTransferId,jdbcType=VARCHAR},
      </if>
      <if test="taskDetailId != null" >
        #{taskDetailId,jdbcType=VARCHAR},
      </if>
      <if test="transferStatus != null" >
        #{transferStatus,jdbcType=VARCHAR},
      </if>
      <if test="roperatePersonId != null" >
        #{roperatePersonId,jdbcType=VARCHAR},
      </if>
      <if test="roperateDeptId != null" >
        #{roperateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="callMemo != null" >
        #{callMemo,jdbcType=VARCHAR},
      </if>
      <if test="callResult != null" >
        #{callResult,jdbcType=VARCHAR},
      </if>
      <if test="transfeRoperate != null" >
        #{transfeRoperate,jdbcType=VARCHAR},
      </if>
      <if test="transferTime != null" >
        #{transferTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cdrId != null" >
        #{cdrId,jdbcType=VARCHAR},
      </if>
      <if test="backMemo != null" >
        #{backMemo,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operatorDept != null" >
        #{operatorDept,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null" >
        #{domainId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskTransfer" >
    update OC_TASK_TRANSFER
    <set >
      <if test="taskDetailId != null" >
        TASK_DETAIL_ID = #{taskDetailId,jdbcType=VARCHAR},
      </if>
      <if test="transferStatus != null" >
        TRANSFER_STATUS = #{transferStatus,jdbcType=VARCHAR},
      </if>
      <if test="roperatePersonId != null" >
        ROPERATE_PERSON_ID = #{roperatePersonId,jdbcType=VARCHAR},
      </if>
      <if test="roperateDeptId != null" >
        ROPERATE_DEPT_ID = #{roperateDeptId,jdbcType=VARCHAR},
      </if>
      <if test="callMemo != null" >
        CALL_MEMO = #{callMemo,jdbcType=VARCHAR},
      </if>
      <if test="callResult != null" >
        CALL_RESULT = #{callResult,jdbcType=VARCHAR},
      </if>
      <if test="transfeRoperate != null" >
        TRANSFE_ROPERATE = #{transfeRoperate,jdbcType=VARCHAR},
      </if>
      <if test="transferTime != null" >
        TRANSFER_TIME = #{transferTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cdrId != null" >
        CDR_ID = #{cdrId,jdbcType=VARCHAR},
      </if>
      <if test="backMemo != null" >
        BACK_MEMO = #{backMemo,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operatorDept != null" >
        OPERATOR_DEPT = #{operatorDept,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null" >
        domain_id = #{domainId,jdbcType=VARCHAR},
      </if>
    </set>
    where TASK_TRANSFER_ID = #{taskTransferId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskTransfer" >
    update OC_TASK_TRANSFER
    set TASK_DETAIL_ID = #{taskDetailId,jdbcType=VARCHAR},
      TRANSFER_STATUS = #{transferStatus,jdbcType=VARCHAR},
      ROPERATE_PERSON_ID = #{roperatePersonId,jdbcType=VARCHAR},
      ROPERATE_DEPT_ID = #{roperateDeptId,jdbcType=VARCHAR},
      CALL_MEMO = #{callMemo,jdbcType=VARCHAR},
      CALL_RESULT = #{callResult,jdbcType=VARCHAR},
      TRANSFE_ROPERATE = #{transfeRoperate,jdbcType=VARCHAR},
      TRANSFER_TIME = #{transferTime,jdbcType=TIMESTAMP},
      CDR_ID = #{cdrId,jdbcType=VARCHAR},
      BACK_MEMO = #{backMemo,jdbcType=VARCHAR},
      OPERATOR_ID = #{operatorId,jdbcType=VARCHAR},
      OPERATOR_DEPT = #{operatorDept,jdbcType=VARCHAR},
      domain_id = #{domainId,jdbcType=VARCHAR}
    where TASK_TRANSFER_ID = #{taskTransferId,jdbcType=VARCHAR}
  </update>

  <!-- 任务处理结果提交 add by wangxiaoyu 2018-08-31-->
  <update id="updateTaskResult" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskTransfer" >
    update OC_TASK_TRANSFER
    <set >
      <if test="transferStatus != null" >
        TRANSFER_STATUS = #{transferStatus,jdbcType=VARCHAR},
      </if>
      <if test="callMemo != null" >
        CALL_MEMO = #{callMemo,jdbcType=VARCHAR},
      </if>
      <if test="callResult != null" >
        CALL_RESULT = #{callResult,jdbcType=VARCHAR},
      </if>
      <if test="transferTime != null" >
        TRANSFER_TIME = #{transferTime},
      </if>
    </set>
    where TASK_DETAIL_ID = #{taskDetailId,jdbcType=VARCHAR}
  </update>

  <!-- 根据业务编码查询呼出记录 add by wangxiaoyu 2018-08-31-->
  <select id="selectCallNotesByDetailIds" resultMap="BaseResultMap" >
    select
      t.TASK_TRANSFER_ID as TASK_TRANSFER_ID,
      t.TASK_DETAIL_ID as TASK_DETAIL_ID,
      t.TRANSFER_STATUS as TRANSFER_STATUS,
      t.ROPERATE_PERSON_ID as ROPERATE_PERSON_ID,
      t.ROPERATE_DEPT_ID as ROPERATE_DEPT_ID,
      t.CALL_MEMO as CALL_MEMO,
      t.CALL_RESULT as CALL_RESULT,
      t.TRANSFE_ROPERATE as TRANSFE_ROPERATE,
      t.TRANSFER_TIME as TRANSFER_TIME,
      t.CDR_ID as CDR_ID,
      t.BACK_MEMO as BACK_MEMO,
      t.OPERATOR_ID as OPERATOR_ID,
      t.OPERATOR_DEPT as OPERATOR_DEPT,
      c.destination_number as destination_number,
      c.call_time as call_time,
      d.TASK_CODE as TASK_CODE,
      ud.dept_name as RECEIVE_DEPT_NAME,
      uu.user_name as user_name
    from OC_TASK_TRANSFER t
      left join pbx_cdrs c on t.CDR_ID = c.cdr_id
      left join OC_TASK_DETAIL d on t.TASK_DETAIL_ID = d.TASK_DETAIL_ID
      left join ucc_depts as ud on t.ROPERATE_DEPT_ID =  ud.dept_id
      left join ucc_users as uu on t.ROPERATE_PERSON_ID = uu.user_id
    where t.TASK_DETAIL_ID in (
    <foreach collection="taskDetailList" item="item" index="index" separator=",">
      #{item.taskDetailId}
    </foreach>
    )
    and t.CDR_ID is not null
    order by t.TASK_DETAIL_ID, t.TRANSFER_TIME DESC
  </select>

  <delete id="deleteByTaskDetailId" parameterType="java.lang.String" >
    delete from OC_TASK_TRANSFER
    where TASK_DETAIL_ID = #{taskDetailId,jdbcType=VARCHAR}
  </delete>

  <!-- 批量插入 -->
  <insert id="insertGroup" parameterType="map">
    insert into OC_TASK_TRANSFER (TASK_TRANSFER_ID, TASK_DETAIL_ID, TRANSFER_STATUS, ROPERATE_PERSON_ID,
    ROPERATE_DEPT_ID, CALL_MEMO, CALL_RESULT,
    TRANSFE_ROPERATE, TRANSFER_TIME, CDR_ID,
    BACK_MEMO, OPERATOR_ID, OPERATOR_DEPT,domain_id)
    values
    <foreach collection="list" item="record" index="index" separator=",">
      (#{record.taskTransferId,jdbcType=VARCHAR}, #{record.taskDetailId,jdbcType=VARCHAR}, #{record.transferStatus,jdbcType=VARCHAR}, #{record.roperatePersonId,jdbcType=VARCHAR},
      #{record.roperateDeptId,jdbcType=VARCHAR}, #{record.callMemo,jdbcType=VARCHAR}, #{record.callResult,jdbcType=VARCHAR},
      #{record.transfeRoperate,jdbcType=VARCHAR}, #{record.transferTime,jdbcType=TIMESTAMP}, #{record.cdrId,jdbcType=VARCHAR},
      #{record.backMemo,jdbcType=VARCHAR}, #{record.operatorId,jdbcType=VARCHAR}, #{record.operatorDept,jdbcType=VARCHAR},#{record.domainId,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="selectTransferByTaskDetailId" resultMap="BaseResultMap"
          parameterType="java.lang.String">
    select
      t.TASK_TRANSFER_ID TASK_TRANSFER_ID,
      t.TASK_DETAIL_ID TASK_DETAIL_ID,
      t.TRANSFER_STATUS TRANSFER_STATUS,
      t.ROPERATE_PERSON_ID ROPERATE_PERSON_ID,
      t.ROPERATE_DEPT_ID ROPERATE_DEPT_ID,
      t.CALL_MEMO CALL_MEMO,
      t.CALL_RESULT CALL_RESULT,
      t.TRANSFE_ROPERATE TRANSFE_ROPERATE,
      t.TRANSFER_TIME TRANSFER_TIME,
      t.CDR_ID CDR_ID,
      t.BACK_MEMO BACK_MEMO,
      t.OPERATOR_ID OPERATOR_ID,
      t.OPERATOR_DEPT OPERATOR_DEPT,
      c.destination_number destination_number,
      c.total_time total_time,
      c.call_time call_time,
      c.created_time created_time,
      c.answered_time answered_time,
      c.hangup_time hangup_time,
      c.recordid1 recordid1,
      c.recordid2 recordid2,
      c.qc qc,
      c.hangup_cause hangup_cause,
      p1.dept_name RECEIVE_DEPT_NAME
    from OC_TASK_TRANSFER t
    left join pbx_cdrs c on t.CDR_ID = c.cdr_id
    left join OC_TASK_DETAIL d on d.TASK_DETAIL_ID = t.TASK_DETAIL_ID
    left join ucc_depts p1 on d.DEPT_MESH_ID = p1.dept_id
    where t.TASK_DETAIL_ID = #{taskDetailId,jdbcType=VARCHAR}
    order by t.TASK_DETAIL_ID, t.TRANSFER_TIME DESC
  </select>

  <!-- 批量删除 -->
  <delete id="deleteWithListId" parameterType="java.util.List">
    DELETE FROM OC_TASK_TRANSFER
    where TASK_TRANSFER_ID in
    <foreach collection="list" index="index" item="item" open="("
             separator="," close=")">
      #{item.taskTransferRecordId}
    </foreach>
  </delete>

  <!-- 根据部门ID查询流转中新建任务  -->
  <select id="selectCallNotesByDetailIdsForWEB" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
      t.TASK_TRANSFER_ID TASK_TRANSFER_ID,
      t.TASK_DETAIL_ID TASK_DETAIL_ID,
      t.TRANSFER_STATUS TRANSFER_STATUS,
      t.ROPERATE_PERSON_ID ROPERATE_PERSON_ID,
      t.ROPERATE_DEPT_ID ROPERATE_DEPT_ID,
      t.CALL_MEMO CALL_MEMO,
      t.CALL_RESULT CALL_RESULT,
      t.TRANSFE_ROPERATE TRANSFE_ROPERATE,
      t.TRANSFER_TIME TRANSFER_TIME,
      t.CDR_ID CDR_ID,
      t.BACK_MEMO BACK_MEMO,
      t.OPERATOR_ID OPERATOR_ID,
      t.OPERATOR_DEPT OPERATOR_DEPT,
      c.destination_number destination_number,
      c.call_time call_time,
      d.TASK_CODE TASK_CODE,
      p1.dept_name RECEIVE_DEPT_NAME
    from OC_TASK_TRANSFER t
    left join pbx_cdrs c on t.CDR_ID = c.cdr_id
    left join OC_TASK_DETAIL d on t.TASK_DETAIL_ID = d.TASK_DETAIL_ID
    left join ucc_depts p1 on t.ROPERATE_DEPT_ID = p1.dept_id
    where t.TASK_DETAIL_ID in ( ${taskDetailIds} )
    and t.CDR_ID is not null
    order by t.TASK_DETAIL_ID, t.TRANSFER_TIME DESC
  </select>

  <select id="selectTransferByTaskDetailIdInList" resultMap="BaseResultMap">
    SELECT
      t.TASK_TRANSFER_ID TASK_TRANSFER_ID,
      t.TASK_DETAIL_ID TASK_DETAIL_ID,
      t.TRANSFER_STATUS TRANSFER_STATUS,
      t.ROPERATE_PERSON_ID ROPERATE_PERSON_ID,
      t.ROPERATE_DEPT_ID ROPERATE_DEPT_ID,
      t.CALL_MEMO CALL_MEMO,
      t.CALL_RESULT CALL_RESULT,
      t.TRANSFE_ROPERATE TRANSFE_ROPERATE,
      t.TRANSFER_TIME TRANSFER_TIME,
      t.CDR_ID CDR_ID,
      t.BACK_MEMO BACK_MEMO,
      t.OPERATOR_ID OPERATOR_ID,
      t.OPERATOR_DEPT OPERATOR_DEPT,
      c.destination_number destination_number,
      c.total_time total_time,
      c.call_time call_time,
      c.created_time created_time,
      c.answered_time answered_time,
      c.hangup_time hangup_time,
      c.recordid1 recordid1,
      c.recordid2 recordid2,
      c.qc qc,
      c.hangup_cause hangup_cause,
      p1.dept_name RECEIVE_DEPT_NAME
    FROM
     OC_TASK_TRANSFER t
    LEFT JOIN pbx_cdrs c ON t.CDR_ID = c.cdr_id
    LEFT JOIN OC_TASK_DETAIL d ON d.TASK_DETAIL_ID = t.TASK_DETAIL_ID
    LEFT JOIN ucc_depts p1 ON d.DEPT_MESH_ID = p1.dept_id
    where t.TASK_DETAIL_ID in
    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item}
    </foreach>
    order by t.TASK_DETAIL_ID, t.TRANSFER_TIME DESC
  </select>
</mapper>