<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.TaskTransferRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.TaskTransferRecord" >
    <id column="TASK_TRANSFER_RECORD_ID" property="taskTransferRecordId" jdbcType="VARCHAR" />
    <result column="TASK_RECORD_ID" property="taskRecordId" jdbcType="VARCHAR" />
    <result column="TRANSFER_STATUS" property="transferStatus" jdbcType="VARCHAR" />
    <result column="ROPERATE_PERSON_ID" property="roperatePersonId" jdbcType="VARCHAR" />
    <result column="ROPERATE_DEPT_ID" property="roperateDeptId" jdbcType="VARCHAR" />
    <result column="CALL_MEMO" property="callMemo" jdbcType="VARCHAR" />
    <result column="CALL_RESULT" property="callResult" jdbcType="VARCHAR" />
    <result column="TRANSFE_ROPERATE" property="transfeRoperate" jdbcType="VARCHAR" />
    <result column="TRANSFER_TIME" property="transferTime" jdbcType="TIMESTAMP" />
    <result column="CDR_ID" property="cdrId" jdbcType="VARCHAR" />
    <result column="BACK_MEMO" property="backMemo" jdbcType="VARCHAR" />
    <result column="OPERATOR_ID" property="operatorId" jdbcType="VARCHAR" />
    <result column="OPERATOR_DEPT" property="operatorDept" jdbcType="VARCHAR" />
    <result column="DEPT_MESH_ID" property="deptMeshId" jdbcType="VARCHAR" />
    <result column="DEPT_AREA_ID" property="deptAreaId" jdbcType="VARCHAR" />
    <result column="DEVELOPMENT_DEPT" property="developmentDept" jdbcType="VARCHAR" />
    <result column="total_time" property="totalTime" jdbcType="INTEGER" />
    <result column="destination_number" property="destinationNumber" jdbcType="VARCHAR" />
    <result column="TASK_CODE" property="taskCode" jdbcType="VARCHAR" />
    <result column="call_time" property="callTime" jdbcType="INTEGER" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
	<result column="answered_time" property="answeredTime" jdbcType="TIMESTAMP" />
	<result column="hangup_time" property="hangupTime" jdbcType="TIMESTAMP" />
	<result column="recordid1" property="recordid1" jdbcType="VARCHAR" />
	<result column="recordid2" property="recordid2" jdbcType="VARCHAR" />
	<result column="qc" property="qc" jdbcType="INTEGER" />
	<result column="hangup_cause" property="hangupCause" jdbcType="VARCHAR" />
	<result column="RECORD_TIME" property="recordTime" jdbcType="TIMESTAMP" />
	<result column="RECORD_OPERATOR_ID" property="recordOperatorId" jdbcType="VARCHAR" />
	<result column="RECORD_OPERATOR_DEPT" property="recordOperatorDept" jdbcType="VARCHAR" />
    <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TASK_TRANSFER_RECORD_ID, OPERATOR_ID, OPERATOR_DEPT, 
    TASK_RECORD_ID, TRANSFER_STATUS, ROPERATE_PERSON_ID, 
    ROPERATE_DEPT_ID, CALL_MEMO, CALL_RESULT,
    TRANSFE_ROPERATE, TRANSFER_TIME, CDR_ID, BACK_MEMO,
    RECORD_TIME, RECORD_OPERATOR_ID, RECORD_OPERATOR_DEPT, domain_id
  </sql>
  
  <!-- Add by bli  begin -->
  <!-- 批量插入 -->
	<insert id="insertGroup" parameterType="map">
	  insert into OC_TASK_TRANSFER_RECORD (TASK_TRANSFER_RECORD_ID, OPERATOR_ID, OPERATOR_DEPT, 
    TASK_RECORD_ID, TRANSFER_STATUS, ROPERATE_PERSON_ID, 
    ROPERATE_DEPT_ID, CALL_MEMO, CALL_RESULT,
    TRANSFE_ROPERATE, TRANSFER_TIME, CDR_ID, BACK_MEMO,
    RECORD_TIME, RECORD_OPERATOR_ID, RECORD_OPERATOR_DEPT, domain_id )
	   values 
		<foreach collection="list" item="record" index="index" separator=",">
		(#{record.taskTransferRecordId,jdbcType=VARCHAR}, #{record.operatorId,jdbcType=VARCHAR}, #{record.operatorDept,jdbcType=VARCHAR}, 
		#{record.taskRecordId,jdbcType=VARCHAR}, #{record.transferStatus,jdbcType=VARCHAR}, #{record.roperatePersonId,jdbcType=VARCHAR},
		#{record.roperateDeptId,jdbcType=VARCHAR}, #{record.callMemo,jdbcType=VARCHAR}, #{record.callResult,jdbcType=VARCHAR}, 
		#{record.transfeRoperate,jdbcType=VARCHAR}, #{record.transferTime,jdbcType=TIMESTAMP}, #{record.cdrId,jdbcType=VARCHAR}, #{record.backMemo,jdbcType=VARCHAR}, 
		#{record.recordTime,jdbcType=TIMESTAMP}, #{record.recordOperatorId,jdbcType=TIMESTAMP}, #{record.recordOperatorDept,jdbcType=VARCHAR} , #{domainId,jdbcType=VARCHAR}
		)
		</foreach>
	</insert>
	
	<select id="selectTransferRecordByTaskRecordId" resultMap="BaseResultMap"
	parameterType="java.lang.String">
	select 
      t.TASK_TRANSFER_RECORD_ID TASK_TRANSFER_RECORD_ID, 
      t.TASK_RECORD_ID TASK_RECORD_ID, 
      t.TRANSFER_STATUS TRANSFER_STATUS, 
      t.ROPERATE_PERSON_ID ROPERATE_PERSON_ID, 
      t.ROPERATE_DEPT_ID ROPERATE_DEPT_ID,  
      t.CALL_MEMO CALL_MEMO, 
      t.CALL_RESULT CALL_RESULT, 
      t.TRANSFE_ROPERATE TRANSFE_ROPERATE, 
      t.TRANSFER_TIME TRANSFER_TIME, 
      t.CDR_ID CDR_ID, 
      t.BACK_MEMO BACK_MEMO, 
      t.OPERATOR_ID OPERATOR_ID, 
      t.OPERATOR_DEPT OPERATOR_DEPT, 
      c.destination_number destination_number,
      c.total_time total_time,
      c.call_time call_time,
      c.created_time created_time,
      c.answered_time answered_time,
      c.hangup_time hangup_time,
      c.recordid1 recordid1,
      c.recordid2 recordid2,
      c.qc qc,
      c.hangup_cause hangup_cause
      from OC_TASK_TRANSFER_RECORD t
      left join pbx_cdrs c on t.CDR_ID = c.cdrid 
      where t.TASK_RECORD_ID = #{taskRecordId,jdbcType=VARCHAR} 
      order by t.TRANSFER_TIME DESC
	</select>
   <!-- Add by bli  end -->
  
</mapper>