<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.TaskTypeMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.TaskType" >
    <id column="TASK_TYPE_ID" property="taskTypeId" jdbcType="VARCHAR" />
    <result column="TASK_TYPE_CODE" property="taskTypeCode" jdbcType="VARCHAR" />
    <result column="TASK_TYPE_NAME" property="taskTypeName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TASK_TYPE_ID, TASK_TYPE_CODE, TASK_TYPE_NAME, CREATE_TIME,domain_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from OC_TASK_TYPE
    where TASK_TYPE_ID = #{taskTypeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from OC_TASK_TYPE
    where TASK_TYPE_ID = #{taskTypeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskType" >
    <selectKey resultType="java.lang.String" keyProperty="taskTypeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into OC_TASK_TYPE (TASK_TYPE_CODE, TASK_TYPE_NAME, CREATE_TIME,domain_id
      )
    values (#{taskTypeCode,jdbcType=VARCHAR}, #{taskTypeName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{domainId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskType" >
    <selectKey resultType="java.lang.String" keyProperty="taskTypeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into OC_TASK_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskTypeId !=null and taskTypeId != ''">
          TASK_TYPE_ID,
      </if>
      <if test="taskTypeCode != null" >
        TASK_TYPE_CODE,
      </if>
      <if test="taskTypeName != null" >
        TASK_TYPE_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="domainId != null" >
        domain_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskTypeId != null" >
            #{taskTypeId,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeCode != null" >
        #{taskTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeName != null" >
        #{taskTypeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="domainId != null" >
        #{domainId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskType" >
    update OC_TASK_TYPE
    <set >
      <if test="taskTypeCode != null" >
        TASK_TYPE_CODE = #{taskTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeName != null" >
        TASK_TYPE_NAME = #{taskTypeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="domainId != null" >
        domain_id = #{domainId,jdbcType=VARCHAR},
      </if>
    </set>
    where TASK_TYPE_ID = #{taskTypeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cucsi.bsd.ucc.data.domain.TaskType" >
    update OC_TASK_TYPE
    set TASK_TYPE_CODE = #{taskTypeCode,jdbcType=VARCHAR},
      TASK_TYPE_NAME = #{taskTypeName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
       domain_id = #{domainId,jdbcType=VARCHAR}
    where TASK_TYPE_ID = #{taskTypeId,jdbcType=VARCHAR}
  </update>
  
  
  <!-- Add by bli  begin -->
  <!-- 查询全部 -->
	<select id="selectAll" resultMap="BaseResultMap"  parameterType="java.lang.String">
     select 
     <include refid="Base_Column_List" />
     from OC_TASK_TYPE A
      where 1=1
        <if test="ignoreNotask != null and ignoreNotask != '' and ignoreNotask == 'true'">
     		and EXISTS (SELECT 1 FROM OC_TASK_DETAIL B WHERE A.TASK_TYPE_ID = B.TASK_TYPE_ID)
        </if>
       <if test="domainId != null and domainId!=''">
         and A.domain_id = #{domainId}
       </if>
      ORDER  BY  A.CREATE_TIME DESC
    </select>
	
   <!-- Add by bli  end -->
  <select id="selectByPage" resultMap="BaseResultMap"  parameterType="cn.cucsi.bsd.ucc.common.beans.TaskTypeForMybatisCriteria">
    select
    <include refid="Base_Column_List"/>
    from OC_TASK_TYPE
    where 1=1
    <if test="taskTypeId !=null and taskTypeId != ''">
      and TASK_TYPE_ID = #{taskTypeId}
    </if>
    <if test="taskTypeCode != null and taskTypeCode!=''" >
      and TASK_TYPE_CODE = #{taskTypeCode}
    </if>
    <if test="taskTypeName != null and taskTypeName!=''" >
      and TASK_TYPE_NAME LIKE  '%${taskTypeName}%'
    </if>
    <if test="domainId != null and domainId!=''" >
      and domain_id = #{domainId}
    </if>
    ORDER  BY  CREATE_TIME DESC
  </select>
  <select id="selectByName" resultType="int" parameterType="java.lang.String">
    select count(*) from OC_TASK_TYPE where TASK_TYPE_NAME = #{name} and domain_id = #{domainId}
  </select>
</mapper>