<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.UccCustomersMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.UccCustomers" >
    <id column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="address1" property="address1" jdbcType="INTEGER" />
    <result column="address2" property="address2" jdbcType="INTEGER" />
    <result column="address3" property="address3" jdbcType="INTEGER" />
    <result column="address4" property="address4" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="businesscode" property="businesscode" jdbcType="VARCHAR" />
    <result column="changephone1" property="changephone1" jdbcType="VARCHAR" />
    <result column="changephone2" property="changephone2" jdbcType="VARCHAR" />
    <result column="changephone3" property="changephone3" jdbcType="VARCHAR" />
    <result column="companyname" property="companyname" jdbcType="VARCHAR" />
    <result column="companynature" property="companynature" jdbcType="INTEGER" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="created_nick_name" property="createdNickName" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_user_id" property="createdUserId" jdbcType="VARCHAR" />
    <result column="created_user_name" property="createdUserName" jdbcType="VARCHAR" />
    <result column="cust_code" property="custCode" jdbcType="VARCHAR" />
    <result column="cust_name" property="custName" jdbcType="VARCHAR" />
    <result column="defult_phone" property="defultPhone" jdbcType="VARCHAR" />
    <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="industrytype" property="industrytype" jdbcType="INTEGER" />
    <result column="installedaddress" property="installedaddress" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="msg_resource" property="msgResource" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="phone2" property="phone2" jdbcType="VARCHAR" />
    <result column="phone3" property="phone3" jdbcType="VARCHAR" />
    <result column="ponlogo" property="ponlogo" jdbcType="VARCHAR" />
    <result column="product_type" property="productType" jdbcType="VARCHAR" />
    <result column="pull_black_reason" property="pullBlackReason" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="tariffname" property="tariffname" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="updated_nick_name" property="updatedNickName" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_user_id" property="updatedUserId" jdbcType="VARCHAR" />
    <result column="updated_user_name" property="updatedUserName" jdbcType="VARCHAR" />
    <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
    <!-- 不是这张表的字段它是关联表字段 -->
    <result column="domain_name" property="domainName" jdbcType="VARCHAR" />
    <result column="TASK_TYPE_NAME" property="taskTypeName" jdbcType="VARCHAR" />
    <result column="TASK_TYPE_ID" property="taskTypeId" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="TASK_DETAIL_ID" property="taskDetailId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cust_id, address1, address2, address3, address4, birthday, businesscode, changephone1, 
    changephone2, changephone3, companyname, companynature, contacts, created_nick_name, 
    created_time, created_user_id, created_user_name, cust_code, cust_name, defult_phone, 
    domain_id, email, fax, idcard, industrytype, installedaddress, memo, msg_resource, 
    phone, phone2, phone3, ponlogo, product_type, pull_black_reason, qq, rate, sex, status, 
    tariffname, type, updated_nick_name, updated_time, updated_user_id, updated_user_name,domain_name,release_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.UccBlackListCriteria" >
    select
    a.*,
    b.domain_name as domain_name
    from ucc_customers as a
    LEFT join ucc_domain as b ON a.domain_id = b.domain_id
    where 1=1
    <if test="type !=null and type!=''">
      AND a.type = #{type,jdbcType=INTEGER}
    </if>
    <if test="custId != null and custId!=''" >
      AND a.cust_id = #{custId,jdbcType=VARCHAR}
    </if>
    <if test="domainId != null and domainId!=''" >
      AND a.domain_id = #{domainId,jdbcType=VARCHAR}
    </if>
    <if test="custName != null and custName!=''" >
      AND a.cust_name LIKE '%${custName}%'
    </if>
    <if test="startTime!=null and startTime!=''">
      and DATE_FORMAT(a.updated_time,'%Y-%m-%d %H:%i:%S') &gt;=#{startTime}
    </if>
    <if test="endTime!=null and endTime!=''">
      and DATE_FORMAT(a.updated_time,'%Y-%m-%d %H:%i:%S') &lt;=#{endTime}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ucc_customers
    where cust_id = #{custId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cucsi.bsd.ucc.data.domain.UccCustomers" >
    insert into ucc_customers (cust_id, address1, address2, 
      address3, address4, birthday, 
      businesscode, changephone1, changephone2, 
      changephone3, companyname, companynature, 
      contacts, created_nick_name, created_time, 
      created_user_id, created_user_name, cust_code, 
      cust_name, defult_phone, domain_id, 
      email, fax, idcard, 
      industrytype, installedaddress, memo, 
      msg_resource, phone, phone2, 
      phone3, ponlogo, product_type, 
      pull_black_reason, qq, rate, 
      sex, status, tariffname, 
      type, updated_nick_name, updated_time, 
      updated_user_id, updated_user_name,release_time)
    values (#{custId,jdbcType=VARCHAR}, #{address1,jdbcType=INTEGER}, #{address2,jdbcType=INTEGER}, 
      #{address3,jdbcType=INTEGER}, #{address4,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{businesscode,jdbcType=VARCHAR}, #{changephone1,jdbcType=VARCHAR}, #{changephone2,jdbcType=VARCHAR}, 
      #{changephone3,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, #{companynature,jdbcType=INTEGER}, 
      #{contacts,jdbcType=VARCHAR}, #{createdNickName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{createdUserId,jdbcType=VARCHAR}, #{createdUserName,jdbcType=VARCHAR}, #{custCode,jdbcType=VARCHAR}, 
      #{custName,jdbcType=VARCHAR}, #{defultPhone,jdbcType=VARCHAR}, #{domainId,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{industrytype,jdbcType=INTEGER}, #{installedaddress,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{msgResource,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{phone2,jdbcType=VARCHAR}, 
      #{phone3,jdbcType=VARCHAR}, #{ponlogo,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, 
      #{pullBlackReason,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{rate,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{tariffname,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{updatedNickName,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{updatedUserId,jdbcType=VARCHAR}, #{updatedUserName,jdbcType=VARCHAR}, #{releaseTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.cucsi.bsd.ucc.data.domain.UccCustomers" >
    insert into ucc_customers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="address1 != null" >
        address1,
      </if>
      <if test="address2 != null" >
        address2,
      </if>
      <if test="address3 != null" >
        address3,
      </if>
      <if test="address4 != null" >
        address4,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="businesscode != null" >
        businesscode,
      </if>
      <if test="changephone1 != null" >
        changephone1,
      </if>
      <if test="changephone2 != null" >
        changephone2,
      </if>
      <if test="changephone3 != null" >
        changephone3,
      </if>
      <if test="companyname != null" >
        companyname,
      </if>
      <if test="companynature != null" >
        companynature,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="createdNickName != null" >
        created_nick_name,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdUserId != null" >
        created_user_id,
      </if>
      <if test="createdUserName != null" >
        created_user_name,
      </if>
      <if test="custCode != null" >
        cust_code,
      </if>
      <if test="custName != null" >
        cust_name,
      </if>
      <if test="defultPhone != null" >
        defult_phone,
      </if>
      <if test="domainId != null" >
        domain_id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="industrytype != null" >
        industrytype,
      </if>
      <if test="installedaddress != null" >
        installedaddress,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="msgResource != null" >
        msg_resource,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="phone2 != null" >
        phone2,
      </if>
      <if test="phone3 != null" >
        phone3,
      </if>
      <if test="ponlogo != null" >
        ponlogo,
      </if>
      <if test="productType != null" >
        product_type,
      </if>
      <if test="pullBlackReason != null" >
        pull_black_reason,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tariffname != null" >
        tariffname,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="updatedNickName != null" >
        updated_nick_name,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="updatedUserId != null" >
        updated_user_id,
      </if>
      <if test="updatedUserName != null" >
        updated_user_name,
      </if>
      <if test="releaseTime != null" >
        release_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="address1 != null" >
        #{address1,jdbcType=INTEGER},
      </if>
      <if test="address2 != null" >
        #{address2,jdbcType=INTEGER},
      </if>
      <if test="address3 != null" >
        #{address3,jdbcType=INTEGER},
      </if>
      <if test="address4 != null" >
        #{address4,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="businesscode != null" >
        #{businesscode,jdbcType=VARCHAR},
      </if>
      <if test="changephone1 != null" >
        #{changephone1,jdbcType=VARCHAR},
      </if>
      <if test="changephone2 != null" >
        #{changephone2,jdbcType=VARCHAR},
      </if>
      <if test="changephone3 != null" >
        #{changephone3,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companynature != null" >
        #{companynature,jdbcType=INTEGER},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="createdNickName != null" >
        #{createdNickName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        #{createdUserId,jdbcType=VARCHAR},
      </if>
      <if test="createdUserName != null" >
        #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="custCode != null" >
        #{custCode,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="defultPhone != null" >
        #{defultPhone,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null" >
        #{domainId,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="industrytype != null" >
        #{industrytype,jdbcType=INTEGER},
      </if>
      <if test="installedaddress != null" >
        #{installedaddress,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="msgResource != null" >
        #{msgResource,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null" >
        #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="phone3 != null" >
        #{phone3,jdbcType=VARCHAR},
      </if>
      <if test="ponlogo != null" >
        #{ponlogo,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="pullBlackReason != null" >
        #{pullBlackReason,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tariffname != null" >
        #{tariffname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="updatedNickName != null" >
        #{updatedNickName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null" >
        #{updatedUserId,jdbcType=VARCHAR},
      </if>
      <if test="updatedUserName != null" >
        #{updatedUserName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null" >
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cucsi.bsd.ucc.data.domain.UccCustomers">
    update ucc_customers
    <set >
      <if test="address1 != null and address1 !=''" >
        address1 = #{address1,jdbcType=INTEGER},
      </if>
      <if test="address2 != null and address2 !=''" >
        address2 = #{address2,jdbcType=INTEGER},
      </if>
      <if test="address3 != null and address3 !=''" >
        address3 = #{address3,jdbcType=INTEGER},
      </if>
      <if test="address4 != null and address4 !=''" >
        address4 = #{address4,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="businesscode != null and businesscode !=''" >
        businesscode = #{businesscode,jdbcType=VARCHAR},
      </if>
      <if test="changephone1 != null and changephone1 !=''" >
        changephone1 = #{changephone1,jdbcType=VARCHAR},
      </if>
      <if test="changephone2 != null and changephone2 !=''" >
        changephone2 = #{changephone2,jdbcType=VARCHAR},
      </if>
      <if test="changephone3 != null and changephone3 !=''" >
        changephone3 = #{changephone3,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null and companyname !=''" >
        companyname = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companynature != null and companynature !=''" >
        companynature = #{companynature,jdbcType=INTEGER},
      </if>
      <if test="contacts != null and contacts !=''" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="createdNickName != null and createdNickName !=''" >
        created_nick_name = #{createdNickName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null and createdUserId !=''" >
        created_user_id = #{createdUserId,jdbcType=VARCHAR},
      </if>
      <if test="createdUserName != null and createdUserName !=''" >
        created_user_name = #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="custCode != null and custCode !=''" >
        cust_code = #{custCode,jdbcType=VARCHAR},
      </if>
      <if test="custName != null and custName !=''" >
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="defultPhone != null and defultPhone !=''" >
        defult_phone = #{defultPhone,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null and domainId !=''" >
        domain_id = #{domainId,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email !=''" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fax != null and fax !=''" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null and idcard !=''" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="industrytype != null and industrytype !=''" >
        industrytype = #{industrytype,jdbcType=INTEGER},
      </if>
      <if test="installedaddress != null and installedaddress !=''" >
        installedaddress = #{installedaddress,jdbcType=VARCHAR},
      </if>
      <if test="memo != null and memo !=''" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="msgResource != null and msgResource !=''" >
        msg_resource = #{msgResource,jdbcType=INTEGER},
      </if>
      <if test="phone != null and phone !=''" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null and phone2 !=''" >
        phone2 = #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="phone3 != null and phone3 !=''" >
        phone3 = #{phone3,jdbcType=VARCHAR},
      </if>
      <if test="ponlogo != null and ponlogo !=''" >
        ponlogo = #{ponlogo,jdbcType=VARCHAR},
      </if>
      <if test="productType != null and productType !=''" >
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="pullBlackReason != null and pullBlackReason !=''" >
        pull_black_reason = #{pullBlackReason,jdbcType=VARCHAR},
      </if>
      <if test="qq != null and qq !=''" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="rate != null and rate !=''" >
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="sex != null and sex !=''" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="status != null and status !=''" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="tariffname != null and tariffname !=''" >
        tariffname = #{tariffname,jdbcType=VARCHAR},
      </if>
      <if test="type != null and type !=''" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="updatedNickName != null and updatedNickName !=''" >
        updated_nick_name = #{updatedNickName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null and updatedUserId !=''" >
        updated_user_id = #{updatedUserId,jdbcType=VARCHAR},
      </if>
      <if test="updatedUserName != null and updatedUserName !=''" >
        updated_user_name = #{updatedUserName,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null and releaseTime !=''" >
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cust_id = #{custId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cucsi.bsd.ucc.data.domain.UccCustomers" >
    update ucc_customers
    set address1 = #{address1,jdbcType=INTEGER},
      address2 = #{address2,jdbcType=INTEGER},
      address3 = #{address3,jdbcType=INTEGER},
      address4 = #{address4,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      businesscode = #{businesscode,jdbcType=VARCHAR},
      changephone1 = #{changephone1,jdbcType=VARCHAR},
      changephone2 = #{changephone2,jdbcType=VARCHAR},
      changephone3 = #{changephone3,jdbcType=VARCHAR},
      companyname = #{companyname,jdbcType=VARCHAR},
      companynature = #{companynature,jdbcType=INTEGER},
      contacts = #{contacts,jdbcType=VARCHAR},
      created_nick_name = #{createdNickName,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_user_id = #{createdUserId,jdbcType=VARCHAR},
      created_user_name = #{createdUserName,jdbcType=VARCHAR},
      cust_code = #{custCode,jdbcType=VARCHAR},
      cust_name = #{custName,jdbcType=VARCHAR},
      defult_phone = #{defultPhone,jdbcType=VARCHAR},
      domain_id = #{domainId,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      industrytype = #{industrytype,jdbcType=INTEGER},
      installedaddress = #{installedaddress,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      msg_resource = #{msgResource,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      phone2 = #{phone2,jdbcType=VARCHAR},
      phone3 = #{phone3,jdbcType=VARCHAR},
      ponlogo = #{ponlogo,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      pull_black_reason = #{pullBlackReason,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      tariffname = #{tariffname,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      updated_nick_name = #{updatedNickName,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updated_user_id = #{updatedUserId,jdbcType=VARCHAR},
      updated_user_name = #{updatedUserName,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP}
    where cust_id = #{custId,jdbcType=VARCHAR}
  </update>

  <!-- 根据业务号码 查询客户表 -->
  <select id="selectByBusinessCodes" resultMap="BaseResultMap"
          parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from ucc_customers
    where 1=1
    and businesscode in ( ${businesscode} )
    and domain_id = #{domainId,jdbcType=VARCHAR}
  </select>

  <!-- 根据业务号码 删除客户表数据 -->
  <delete id="deleteByBusinessCodes" parameterType="java.util.Map">
    delete from ucc_customers
    where 1=1
    and businesscode in ( ${businesscode} )
    and domain_id = #{domainId,jdbcType=VARCHAR}
  </delete>

  <!-- 批量插入 -->
  <insert id="insertGroup" parameterType="map">
    insert into ucc_customers (
      cust_id, address1, address2,
      address3, address4, birthday,
      businesscode, changephone1, changephone2,
      changephone3, companyname, companynature,
      contacts, created_nick_name, created_time,
      created_user_id, created_user_name, cust_code,
      cust_name, defult_phone, domain_id,
      email, fax, idcard,
      industrytype, installedaddress, memo,
      msg_resource, phone, phone2,
      phone3, ponlogo, product_type,
      pull_black_reason, qq, rate,
      sex, status, tariffname,
      type, updated_nick_name, updated_time,
      updated_user_id, updated_user_name
    )
    values
    <foreach collection="list" item="record" index="index"
             separator=",">
      (#{record.custId,jdbcType=VARCHAR}, #{record.address1,jdbcType=INTEGER}, #{record.address2,jdbcType=INTEGER},
      #{record.address3,jdbcType=INTEGER}, #{record.address4,jdbcType=VARCHAR}, #{record.birthday,jdbcType=TIMESTAMP},
      #{record.businesscode,jdbcType=VARCHAR}, #{record.changephone1,jdbcType=VARCHAR}, #{record.changephone2,jdbcType=VARCHAR},
      #{record.changephone3,jdbcType=VARCHAR}, #{record.companyname,jdbcType=VARCHAR}, #{record.companynature,jdbcType=INTEGER},
      #{record.contacts,jdbcType=VARCHAR}, #{record.createdNickName,jdbcType=VARCHAR}, #{record.createdTime,jdbcType=TIMESTAMP},
      #{record.createdUserId,jdbcType=VARCHAR}, #{record.createdUserName,jdbcType=VARCHAR}, #{record.custCode,jdbcType=VARCHAR},
      #{record.custName,jdbcType=VARCHAR}, #{record.defultPhone,jdbcType=VARCHAR}, #{record.domainId,jdbcType=VARCHAR},
      #{record.email,jdbcType=VARCHAR}, #{record.fax,jdbcType=VARCHAR}, #{record.idcard,jdbcType=VARCHAR},
      #{record.industrytype,jdbcType=INTEGER}, #{record.installedaddress,jdbcType=VARCHAR}, #{record.memo,jdbcType=VARCHAR},
      #{record.msgResource,jdbcType=INTEGER}, #{record.phone,jdbcType=VARCHAR}, #{record.phone2,jdbcType=VARCHAR},
      #{record.phone3,jdbcType=VARCHAR}, #{record.ponlogo,jdbcType=VARCHAR}, #{record.productType,jdbcType=VARCHAR},
      #{record.pullBlackReason,jdbcType=VARCHAR}, #{record.qq,jdbcType=VARCHAR}, #{record.rate,jdbcType=VARCHAR},
      #{record.sex,jdbcType=INTEGER}, #{record.status,jdbcType=VARCHAR}, #{record.tariffname,jdbcType=VARCHAR},
      #{record.type,jdbcType=INTEGER}, #{record.updatedNickName,jdbcType=VARCHAR}, #{record.updatedTime,jdbcType=TIMESTAMP},
      #{record.updatedUserId,jdbcType=VARCHAR}, #{record.updatedUserName,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <sql id="Sql_WhereTask">
    <if test="businesscode != null and businesscode != ''">
      and c.businesscode LIKE '%${businesscode}%'
    </if>
    <if test="ponLogo != null and ponLogo != ''">
      and c.ponlogo = #{ponLogo}
    </if>
    <if test="status != null and status != ''">
      and c.status LIKE '%${status}%'
    </if>
    <if test="userName != null and userName != ''">
      and c.cust_name LIKE '%${userName}%'
    </if>
    <if test="tariffName != null and tariffName != ''">
      and c.tariffname LIKE '%${tariffName}%'
    </if>
    <if test="defultPhone != null and defultPhone != ''">
      and c.DEFULT_PHONE LIKE '%${defultPhone}%'
    </if>
    <if test="outCallRecord == 1">
      and exists (select 1 from pbx_cdrs cdrs where t.cdr_id = cdrs.cdr_id and cdrs.call_time &gt; 5 and month(created_time)=month(sysdate()) )
    </if>
    <if test="outCallRecord!=null and outCallRecord !='' and outCallRecord == 0">
      and not exists (select 1 from pbx_cdrs cdrs where t.cdr_id = cdrs.cdr_id and cdrs.call_time &gt; 5 and month(created_time)=month(sysdate()) )
    </if>
  </sql>

  <!-- 在办任务列表 -->
  <select id="selectOngoingBySearchCount" resultType="Integer"
          parameterType="cn.cucsi.bsd.ucc.common.beans.TaskDetailSearch">
    SELECT
      count(DISTINCT concat(c.cust_id, tt.TASK_TYPE_ID))
    FROM
      ucc_customers c
    INNER JOIN OC_TASK_DETAIL d ON c.businesscode = d.BUSINESS_CODE AND d.domain_id = c.domain_id
    inner join OC_TASK_TRANSFER t on t.TASK_DETAIL_ID = d.TASK_DETAIL_ID and t.TRANSFER_STATUS = d.TASK_STATUS
    LEFT JOIN ucc_depts uc ON uc.dept_id = d.ROPERATE_DEPT_ID
    INNER JOIN OC_TASK_TYPE tt ON d.TASK_TYPE_ID = tt.TASK_TYPE_ID
    WHERE 1=1
    and d.TASK_STATUS IN ('2', '3')
    <if test="roperateDeptId != null and roperateDeptId != ''">
      and d.ROPERATE_DEPT_ID = #{roperateDeptId}
    </if>
    <if test="operatorId != null and operatorId != ''">
      and t.OPERATOR_ID = #{operatorId}
    </if>
    <if test="deptIdAndChildIds != null and deptIdAndChildIds != ''">
      and d.ROPERATE_DEPT_ID in (${deptIdAndChildIds})
    </if>
    <if test="taskTypeId !=null and taskTypeId != ''">
      and d.TASK_TYPE_ID = #{taskTypeId}
    </if>
    <include refid="Sql_WhereTask" />
  </select>

  <select id="selectOngoingBySearch" resultMap="BaseResultMap"
          parameterType="cn.cucsi.bsd.ucc.common.beans.TaskDetailSearch">
    SELECT DISTINCT
      tt.TASK_TYPE_ID as TASK_TYPE_ID,
      tt.TASK_TYPE_NAME as TASK_TYPE_NAME,
      c.businesscode businesscode,
      c.cust_name cust_name,
      c.STATUS STATUS,
      c.installedaddress installedaddress,
      c.ponlogo ponlogo,
      c.tariffname tariffname,
      c.DEFULT_PHONE DEFULT_PHONE,
      c.cust_id,
      uc.dept_name as dept_name
    FROM
      ucc_customers c
      INNER JOIN OC_TASK_DETAIL d ON c.businesscode = d.BUSINESS_CODE  AND d.domain_id = c.domain_id
      inner join OC_TASK_TRANSFER t on t.TASK_DETAIL_ID = d.TASK_DETAIL_ID and t.TRANSFER_STATUS = d.TASK_STATUS
      LEFT JOIN ucc_depts uc ON uc.dept_id = d.ROPERATE_DEPT_ID
      INNER JOIN OC_TASK_TYPE tt ON d.TASK_TYPE_ID = tt.TASK_TYPE_ID
    WHERE
      1 = 1
    AND d.TASK_STATUS IN ('2', '3')
    <if test="roperateDeptId != null and roperateDeptId != ''">
      and d.ROPERATE_DEPT_ID = #{roperateDeptId}
    </if>
    <if test="operatorId != null and operatorId != ''">
      and t.OPERATOR_ID = #{operatorId}
    </if>
    <if test="deptIdAndChildIds != null and deptIdAndChildIds != ''">
      and d.ROPERATE_DEPT_ID in (${deptIdAndChildIds})
    </if>
    <if test="taskTypeId !=null and taskTypeId != ''">
      and d.TASK_TYPE_ID = #{taskTypeId}
    </if>
    <include refid="Sql_WhereTask" />
    GROUP BY c.businesscode
    <if test="begin != null and showLines != null and showLines != 0">
      limit #{begin},#{showLines}
    </if>
  </select>

  <update id="updateDefultPhone" parameterType="cn.cucsi.bsd.ucc.data.domain.UccCustomers">
    update ucc_customers
    set DEFULT_PHONE = #{defultPhone,jdbcType=VARCHAR}
    where businesscode = #{businesscode,jdbcType=VARCHAR} and  domain_id = #{domainId,jdbcType=VARCHAR}
  </update>

  <!-- 根据businessCode、domainId更新变更号码 -->
  <update id="updateChangePhone" parameterType="cn.cucsi.bsd.ucc.data.domain.UccCustomers">
    update ucc_customers
    set
    <if test="changephone1 != '-1'">
      changephone1 = #{changephone1,jdbcType=VARCHAR}
    </if>
    <if test="changephone2 != '-1'">
      changephone2 = #{changephone2,jdbcType=VARCHAR}
    </if>
    <if test="changephone3 != '-1'">
      changephone3 = #{changephone3,jdbcType=VARCHAR}
    </if>
    <if test="defultPhone != null and defultPhone != ''">
      , DEFULT_PHONE = #{defultPhone,jdbcType=VARCHAR}
    </if>
    where businesscode = #{businesscode,jdbcType=VARCHAR} and domain_id = #{domainId,jdbcType=VARCHAR}
  </update>

  <!-- 查看客户进入黑名单原因 -->
  <select id="custmIsBlack" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT a.PULL_BLACK_REASON pullBlackReason
      FROM ucc_customers a
    WHERE a.type = 7
      AND a.businesscode = #{businesscode,jdbcType=VARCHAR}
      AND a.domain_id = #{domainId,jdbcType=VARCHAR}
  </select>

  <!-- 拉黑客户 WEB用  -->
  <!--<update id="inBlackListByBusinessCodeWEB" parameterType="cn.cucsi.bsd.ucc.data.domain.UccCustomers">
    update ucc_customers as uc
    set
      uc.type = #{type,jdbcType=INTEGER},
      uc.updated_user_id = #{updatedUserId,jdbcType=INTEGER},
      uc.created_time = #{createdTime,jdbcType=TIMESTAMP},
      uc.pull_black_reason = #{pullBlackReason,jdbcType=VARCHAR}
    where uc.businesscode = #{businesscode,jdbcType=VARCHAR}
  </update>-->

  <!-- 查询下一个外呼任务 BY businesscode -->
  <select id="selectNextTaskBySearch" resultMap="BaseResultMap"
          parameterType="cn.cucsi.bsd.ucc.common.beans.TaskDetailSearch">
    select
    c.businesscode businesscode
    from ucc_customers c
    inner join OC_TASK_DETAIL d on c.businesscode = d.BUSINESS_CODE and c.domain_id = d.domain_id
    inner join OC_TASK_TRANSFER t on t.TASK_DETAIL_ID = d.TASK_DETAIL_ID and t.TRANSFER_STATUS = d.TASK_STATUS
    <where>
      <if test="roperateDeptId != null and roperateDeptId != ''">
        and d.ROPERATE_DEPT_ID = #{roperateDeptId}
      </if>
      <if test="taskStatus != null and taskStatus != ''">
        and t.TRANSFER_STATUS = #{taskStatus}
      </if>
      <if test="taskTypeId != null and taskTypeId != ''">
        and d.TASK_TYPE_ID = #{taskTypeId}
      </if>
      <!-- 注意：这是不等于 -->
      <if test="businesscode != null and businesscode != ''">
        and d.BUSINESS_CODE != #{businesscode}
      </if>
    </where>
    <if test="showLines != null and showLines !=0">
      limit #{showLines}
    </if>
  </select>

  <!-- 根据业务号码、租户ID 查询客户表 -->
  <select id="selectUccCustomersByCode" resultMap="BaseResultMap"
          parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from ucc_customers as uc
    where uc.businesscode = #{businessCode}
    and uc.domain_id = #{domainId}
  </select>
</mapper>