<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.UccDeptsMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.UccDepts" >
    <id column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_nick_name" property="createdNickName" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_user_id" property="createdUserId" jdbcType="VARCHAR" />
    <result column="created_user_name" property="createdUserName" jdbcType="VARCHAR" />
    <result column="dept_admin" property="deptAdmin" jdbcType="VARCHAR" />
    <result column="dept_create_time" property="deptCreateTime" jdbcType="TIMESTAMP" />
    <result column="dept_desc" property="deptDesc" jdbcType="VARCHAR" />
    <result column="dept_level" property="deptLevel" jdbcType="INTEGER" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="dept_pid" property="deptPid" jdbcType="VARCHAR" />
    <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
    <result column="updated_nick_name" property="updatedNickName" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_user_id" property="updatedUserId" jdbcType="VARCHAR" />
    <result column="updated_user_name" property="updatedUserName" jdbcType="VARCHAR" />
    <result column="dept_admin_name" property="deptAdminName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dept_id, created_by, created_nick_name, created_time, created_user_id, created_user_name, 
    dept_admin, dept_create_time, dept_desc, dept_level, dept_name, dept_pid, domain_id, 
    updated_nick_name, updated_time, updated_user_id, updated_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ucc_depts
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ucc_depts
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.cucsi.bsd.ucc.data.domain.UccDepts" >
    insert into ucc_depts (dept_id, created_by, created_nick_name, 
      created_time, created_user_id, created_user_name, 
      dept_admin, dept_create_time, dept_desc, 
      dept_level, dept_name, dept_pid, 
      domain_id, updated_nick_name, updated_time, 
      updated_user_id, updated_user_name)
    values (#{deptId,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdNickName,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{createdUserId,jdbcType=VARCHAR}, #{createdUserName,jdbcType=VARCHAR}, 
      #{deptAdmin,jdbcType=VARCHAR}, #{deptCreateTime,jdbcType=TIMESTAMP}, #{deptDesc,jdbcType=VARCHAR}, 
      #{deptLevel,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{deptPid,jdbcType=VARCHAR}, 
      #{domainId,jdbcType=VARCHAR}, #{updatedNickName,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{updatedUserId,jdbcType=VARCHAR}, #{updatedUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.cucsi.bsd.ucc.data.domain.UccDepts" >
    insert into ucc_depts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdNickName != null" >
        created_nick_name,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdUserId != null" >
        created_user_id,
      </if>
      <if test="createdUserName != null" >
        created_user_name,
      </if>
      <if test="deptAdmin != null" >
        dept_admin,
      </if>
      <if test="deptCreateTime != null" >
        dept_create_time,
      </if>
      <if test="deptDesc != null" >
        dept_desc,
      </if>
      <if test="deptLevel != null" >
        dept_level,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="deptPid != null" >
        dept_pid,
      </if>
      <if test="domainId != null" >
        domain_id,
      </if>
      <if test="updatedNickName != null" >
        updated_nick_name,
      </if>
      <if test="updatedTime != null" >
        updated_time,
      </if>
      <if test="updatedUserId != null" >
        updated_user_id,
      </if>
      <if test="updatedUserName != null" >
        updated_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdNickName != null" >
        #{createdNickName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        #{createdUserId,jdbcType=VARCHAR},
      </if>
      <if test="createdUserName != null" >
        #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="deptAdmin != null" >
        #{deptAdmin,jdbcType=VARCHAR},
      </if>
      <if test="deptCreateTime != null" >
        #{deptCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deptDesc != null" >
        #{deptDesc,jdbcType=VARCHAR},
      </if>
      <if test="deptLevel != null" >
        #{deptLevel,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptPid != null" >
        #{deptPid,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null" >
        #{domainId,jdbcType=VARCHAR},
      </if>
      <if test="updatedNickName != null" >
        #{updatedNickName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null" >
        #{updatedUserId,jdbcType=VARCHAR},
      </if>
      <if test="updatedUserName != null" >
        #{updatedUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cucsi.bsd.ucc.data.domain.UccDepts" >
    update ucc_depts
    <set >
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdNickName != null" >
        created_nick_name = #{createdNickName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null" >
        created_user_id = #{createdUserId,jdbcType=VARCHAR},
      </if>
      <if test="createdUserName != null" >
        created_user_name = #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="deptAdmin != null" >
        dept_admin = #{deptAdmin,jdbcType=VARCHAR},
      </if>
      <if test="deptCreateTime != null" >
        dept_create_time = #{deptCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deptDesc != null" >
        dept_desc = #{deptDesc,jdbcType=VARCHAR},
      </if>
      <if test="deptLevel != null" >
        dept_level = #{deptLevel,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptPid != null" >
        dept_pid = #{deptPid,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null" >
        domain_id = #{domainId,jdbcType=VARCHAR},
      </if>
      <if test="updatedNickName != null" >
        updated_nick_name = #{updatedNickName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null" >
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null" >
        updated_user_id = #{updatedUserId,jdbcType=VARCHAR},
      </if>
      <if test="updatedUserName != null" >
        updated_user_name = #{updatedUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cucsi.bsd.ucc.data.domain.UccDepts" >
    update ucc_depts
    set created_by = #{createdBy,jdbcType=VARCHAR},
      created_nick_name = #{createdNickName,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_user_id = #{createdUserId,jdbcType=VARCHAR},
      created_user_name = #{createdUserName,jdbcType=VARCHAR},
      dept_admin = #{deptAdmin,jdbcType=VARCHAR},
      dept_create_time = #{deptCreateTime,jdbcType=TIMESTAMP},
      dept_desc = #{deptDesc,jdbcType=VARCHAR},
      dept_level = #{deptLevel,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      dept_pid = #{deptPid,jdbcType=VARCHAR},
      domain_id = #{domainId,jdbcType=VARCHAR},
      updated_nick_name = #{updatedNickName,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      updated_user_id = #{updatedUserId,jdbcType=VARCHAR},
      updated_user_name = #{updatedUserName,jdbcType=VARCHAR}
    where dept_id = #{deptId,jdbcType=VARCHAR}
  </update>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
      c.*
    from ucc_users a left join user_dept b on a.user_id = b.user_id
    left join ucc_depts c on b.dept_id = c.dept_id
    where a.user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <!-- 获取ID最大值 -->
  <select id="selectMaxDeptID" resultType="java.lang.String" >
    SELECT max(dept_id) FROM ucc_depts
  </select>

  <!-- 批量插入 -->
  <insert id="insertGroup" parameterType="map">
    insert into ucc_depts (dept_id, dept_name,
    dept_pid, dept_level, dept_create_time,
    created_user_id, dept_desc, dept_admin,domain_id)
    values
    <foreach collection="list" item="record" index="index" separator=",">
      (#{record.deptId,jdbcType=VARCHAR}, #{record.deptName,jdbcType=VARCHAR},
      #{record.deptPid,jdbcType=VARCHAR}, #{record.deptLevel,jdbcType=INTEGER}, #{record.deptCreateTime,jdbcType=TIMESTAMP},
      #{record.createdUserId,jdbcType=VARCHAR}, #{record.deptDesc,jdbcType=VARCHAR}, #{record.deptAdmin,jdbcType=VARCHAR},#{record.domainId,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
	  a.*, b.user_name dept_admin_name
    FROM
	  ucc_depts a
    LEFT JOIN ucc_users b ON a.dept_admin = b.user_id
  </select>

  <select id="selectDidsByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
      c.dept_id,
	  c.dept_name
    from ucc_users a left join user_dept b on a.user_id = b.user_id
    left join ucc_depts c on b.dept_id = c.dept_id
    where a.user_id = #{userId,jdbcType=VARCHAR} and c.domain_id = #{domainId,jdbcType=VARCHAR}
  </select>

  <!-- 条件查询 -->
  <select id="selectByNgtDeptSearch" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.NgtDeptSearch">
    SELECT
      c.dept_id,
      c.dept_name,
      a.user_name dept_admin_name
    FROM
      ucc_users a
    INNER JOIN user_dept b ON a.user_id = b.user_id
    INNER JOIN ucc_depts c ON b.dept_id = c.dept_id AND a.domain_id = c.domain_id
    <include refid="Sql_Where" />
    and a.user_id = #{userId,jdbcType=VARCHAR}
    and a.domain_id = #{domainId,jdbcType=VARCHAR}
  </select>
  <sql id="Sql_Where">
    <if test="deptPid != null and deptPid != ''">
      and dept_pid = #{deptPid,jdbcType=VARCHAR}
    </if>
    <if test="deptLevel != null and deptLevel != ''">
      and dept_level = #{deptLevel,jdbcType=INTEGER}
    </if>
    <if test="deptIds != null and deptIds != ''">
      and b.dept_id in (${deptIds})
    </if>
  </sql>
</mapper>