<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cucsi.bsd.ucc.common.mapper.UccNoticeMapper" >
  <resultMap id="BaseResultMap" type="cn.cucsi.bsd.ucc.data.domain.UccNotice" >
    <id column="notice_id" property="noticeId" jdbcType="VARCHAR" />
    <result column="created_nick_name" property="createdNickName" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_user_id" property="createdUserId" jdbcType="VARCHAR" />
    <result column="created_user_name" property="createdUserName" jdbcType="VARCHAR" />
    <result column="domain_id" property="domainId" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="notice_code" property="noticeCode" jdbcType="VARCHAR" />
    <result column="notice_content" property="noticeContent" jdbcType="VARCHAR" />
    <result column="notice_status" property="noticeStatus" jdbcType="VARCHAR" />
    <result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
    <result column="notice_type" property="noticeType" jdbcType="VARCHAR" />
    <result column="release_time" property="releaseTime" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="updated_nick_name" property="updatedNickName" jdbcType="VARCHAR" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="updated_user_id" property="updatedUserId" jdbcType="VARCHAR" />
    <result column="updated_user_name" property="updatedUserName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    notice_id, created_nick_name, created_time, created_user_id, created_user_name, domain_id, 
    end_date, memo, notice_code, notice_content, notice_status, notice_title, notice_type, 
    release_time, start_date, updated_nick_name, updated_time, updated_user_id, updated_user_name, 
    user_id
  </sql>

  <!-- 查询通知详情（APP用 ）add by wangxiaoyu 2018-09-07-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.ShowNoticeDetailCriteria" >
    select
    <include refid="Base_Column_List" />
    from ucc_notice
    where 1=1
    and notice_type =  #{noticeType,jdbcType=VARCHAR}
    and notice_id = #{noticeId,jdbcType=VARCHAR}
  </select>

  <!-- 根据userId获取通知或公告列表 add by wangxiaoyu 2018-09-07-->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.NoticeShowListCriteria" >
    SELECT
      u.notice_id,
      u.notice_title,
      u.notice_content,
      u.release_time,
      u.notice_status,
      t.flag as flag
    FROM
        ucc_notice AS u
    LEFT JOIN ucc_notice_trace as t on u.user_id = t.user_id
    WHERE 1=1
      and u.notice_type =  #{noticeType,jdbcType=VARCHAR}
      and u.user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="findAll" resultMap="BaseResultMap" parameterType="cn.cucsi.bsd.ucc.common.beans.UccNoticeCriteria" >
    SELECT
    *
    FROM
        ucc_notice 
    WHERE 1=1
  
    <if test="noticeTitle != null and noticeTitle != ''" >
        AND notice_title LIKE '%${noticeTitle}%'
    </if>
    <if test="noticeType != null and noticeType != ''" >
        AND notice_type = #{noticeType,jdbcType=VARCHAR}
    </if>
    <if test="noticeTimeFrom != null"  >
        AND Date(start_date) &gt;= #{noticeTimeFrom,jdbcType=DATE}
    </if>
    <if test="noticeTimeTo != null"  >
        AND Date(start_date) &lt;= #{noticeTimeTo,jdbcType=DATE}
    </if>   
    <if test="userId != null and userId != ''"  >
        AND user_id= #{userId,jdbcType=VARCHAR}
    </if>
  </select>
  <!-- zss 未读消息 (移植自outcall) -->
  <select id="selectByFlagCount" resultType="int" parameterType="Long">
    select count(*)
    from ucc_notice a LEFT JOIN
    (select * from ucc_notice_trace  where user_id =#{userId} ) c on c.notice_id = a.notice_id  where c.flag is null
  </select>
  <!-- zss (移植自outcall) -->
  <select id="selectByFlagTypeCount" resultType="int" parameterType="Long">
    select count(*)
    from ucc_notice a LEFT JOIN
    (select * from ucc_notice_trace  where user_id =#{userId} ) c on c.notice_id = a.notice_id  where c.flag is null and a.notice_type='1'
  </select>
</mapper>